<div class="changelog">
  <%
    results = campaign.versions.where(created_at: report.start_date..report.end_date).map.each_with_object({}) do |version, hsh|
      next if version.index == 0
      hsh[version.created_at.to_date] ||= []
      hsh[version.created_at.to_date] << version
      hsh
    end
    results.reverse_each.to_h.each do |date, versions|
  %>
  <h4><%= date.to_s("bdy") %></h4>
  <ul>
    <% versions.each do |version| %>
      <% version.changeset.each do |k, v| %>
        <li>Changed <strong><%= k.humanize.downcase %></strong> from <code class="before"><%= v[0] %></code> to <code class="after"><%= v[1] %></code></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div>
