<div class="page" id="toc">
  <h1>Table of Contents</h1>
  <ol>
    <li><a href="#campaign-summary">Quick Summary</a></li>
    <% @report.campaigns.each do |campaign| %>
      <li><a href="#campaign-<%= campaign.id %>"><%= campaign.name %></a></li>
    <% end %>
  </ol>
</div>
