<%= page_heading "Invite", "User",
      subtitle: "Fill out the form below",
      icon: "fad fa-user-plus" %>

<div class="page-inner p-0">
  <div class="board">
    <%= render "devise/invitations/form" %>
  </div>
<div>
