<%= render layout: "/users/layout", locals: { user: @user } do %>
  <article class="mb-4">
    <div class="bg-white shadow-sm">
      <%= render "/campaigns/table", campaigns: @campaigns, pagy: @pagy %>
    </div>
  </article>
<% end %>
