<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="mb-3">
    <div class="d-inline-block float-right text-right">
      <%= render "/campaign_reports/form", email: @campaign.user.email %>
      <%= link_to campaign_creatives_path(@campaign, format: :csv), class: "d-block mt-3 mb-2" do %>
        Download
      <% end %>
    </div>

    <h3 class="h5 mb-3">
      Creatives
      <small class="text-muted d-block">Spend and statistics by creative</small>
    </h3>
  </div>

  <%= render "/campaign_creatives/table" %>
<% end %>
