#cf {
  text-decoration: none !important;
  color: #aaaaaa;
  line-height: 1.7;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
}
#cf .cf-wrapper a {
  color: #3498db;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none !important;
}
#cf .cf-wrapper img,
#cf .cf-wrapper svg {
  vertical-align: middle;
}
#cf a.cf-powered-by {
  color: #6c757e;
  text-decoration: none !important;
  position: relative;
  display: inline-block;
}

/* Tooltip text */
#cf a.cf-powered-by .tooltiptext {
  visibility: hidden;
  width: 140px;
  color: #cccccc;
  text-align: center;
  padding: 5px 0;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -4px;
  left: 4px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#cf a.cf-powered-by:hover .tooltiptext {
  visibility: visible !important;
}