#cf .cf-wrapper {
  z-index: 1;
  font-family: Helvetica, Arial;
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.5;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px 11px;
  text-align: left;
  margin: 12px 0;
}

#cf .cf-wrapper .cf-text:before {
  margin-right: 4px;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  content: "Supporter";
}

#cf .cf-wrapper .cf-text {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  cursor: pointer;
}

#cf .cf-wrapper .cf-text:hover {
  text-decoration: underline;
}

#cf .cf-wrapper .cf-text strong {
  color: #ffffff;
}

#cf .cf-wrapper .cf-label {
  margin-right: 4px;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #08c;
  color: #fafafa;
}

#cf .cf-wrapper .cf-label:hover {
  text-decoration: none !important;
}

#cf .cf-wrapper .cf-powered-by {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  float: right;
  font-size: 12px;
}

#cf .cf-wrapper .cf-powered-by:hover {
  text-decoration: underline;
  cursor: pointer;
}

#cf .cf-wrapper.cf-post-bottom {
  width: 757px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #cf .cf-wrapper .cf-powered-by {
    display: block;
    float: none;
    text-align: right;
  }
}
