<div class="u-cubeportfolio">
  <div class="cbp"
      data-controller="cube-folio"
      data-layout="mosaic"
      data-animation="quicksand"
      data-x-gap="15"
      data-y-s="15"
      data-media-queries='[
        {"width": 1500, "cols": 4},
        {"width": 1100, "cols": 4},
        {"width": 800, "cols": 3},
        {"width": 480, "cols": 2},
        {"width": 400, "cols": 2}
      ]'>
    <% images.each do |image| %>
      <div class="cbp-item">
        <% if authorized_user.can_admin_system? %>
          <%= link_to edit_image_path(imageable.to_gid_param, image), class: "cbp-caption" do %>
            <%= render "/images/image", image: image %>
          <% end %>
        <% else %>
          <div class="cbp-caption">
            <%= render "/images/image", image: image %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
