.plugin-div {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayNone {
  display: none;
}

.navButton {
  margin: 7px;
  flex-grow: 1;
  border-radius: 100px;
  text-align: center;
  font-weight: 500;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  background: #FFFFFF;
}

.navButtonRow {
  display: flex;
  padding: 0px 9px 0px 9px;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid 1px rgba(0, 0, 0, 0.08);
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  margin-top: 17px;
}

.navButton:hover {
  background: #F3F4F8;
}

.selected {
  background-color: #E2E4E9;
}

.selected:hover {
  background-color: #E2E4E9;
}

.width100percent {
  width: 100%;
}

.font {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}

.bold {
  font-weight: 400;
  font-size: 14px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  color: #367FEE
}

.handle {
  font-size: 12px;
  color: #9B9C9E;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #a0a0a0;
  margin: 18px 0px 18px 0px
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px 22px 3px 22px;
}

.rowItem {
  flex-basis: 0%;
  flex-shrink: 1;
  font-size: 14px;
  font-weight: 500;
}

.infoKey {
  font-weight: 400;
  color: #9B9C9E;
  font-size: 14px;
  flex-grow: 1
}

.infoValue {
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  color: #3E3E40;
}

.noteKey {
  font-weight: 500;
  font-size: 14px;
  color: #19191A;
  flex-grow: 1
}

.noteValue {
  font-weight: 300;
  color: #9B9C9E;
  font-size: 10px;
}

.noteBlock {
  padding: 16px 0px 10px 0px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  margin: 0px 16px 16px 16px;
}

.noteFont {
  color: #9B9C9E;
  font-size: 14px;
}

.newNote {
  align-self: center;
  text-align: center;
  font-size: 14px;
  background-color: #367FEE;
  border-radius: 15px;
  height: 30px;
  width: 108px;
  margin: 12px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}