<% cache_if @campaign.persisted?, @campaign do %>
  <div id="cf">
    <b><%= @campaign.creative.headline %></b>
    <%= @campaign.creative.body %>
    <a href="#" data-href="campaign_url" rel="nofollow noopener" target="_blank" onmouseenter="this.style.color='#1d6fa5'" onmouseleave="this.style.color='#3498db'">
      <b><%= @campaign.creative.cta || "Learn more" %></b>
    </a>
    <img id="cf-pixel" data-src="impression_url" alt="">
  </div>
<% end %>
