<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-left">Property</th>
        <th class="text-left" style="width: 30%;">Matching Tags</th>
        <th class="text-center" style="width: 10%;">Impressions</th>
        <th class="text-center" style="width: 10%;">Clicks</th>
        <th class="text-center" style="width: 10%;">CTR</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each do |property| %>
        <%= render_later async_campaign_property_row_path(campaign_id: @campaign.id, property_id: property.id), tag_name: "tr" do %>
          <td colspan="5">
            <i class="fa fa-spinner fa-spin text-primary"></i>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %></span>
    <%= pagy_entries(@pagy) %>
  </div>
</div>
