<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Daily Properties
      <small class="text-muted d-block">Properties that have rendered this campaign</small>
    </h3>
  </div>

  <%= render "/campaign_properties/table" %>
<% end %>
