<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="mb-3">
    <% if @campaign.standard? %>
      <div class="d-inline-block float-right text-right">
        <%= render "/campaign_reports/form", campaign: @campaign %>
        <%= link_to campaign_properties_path(@campaign, format: :csv), class: "d-block mt-3 mb-2" do %>
          Download
        <% end %>
      </div>
    <% end %>

    <h3 class="h5 mb-3">
      Properties
      <small class="text-muted d-block">Stats by property</small>
    </h3>
  </div>

  <%= render "/campaign_properties/table" %>
<% end %>
