<div class="page-inner">
  <%= render "/shared/page_heading_with_subtitle",
    title: "Admin Dashboard",
    datepicker: false %>

  <div class="board d-flex flex-column overflow-x-auto p-0"></div>
</div>
