/*
 * Around | Multipurpose Bootstrap Template
 * Copyright 2020 Createx Studio
 * Theme styles
 */
 
 // Custom Variables
 @import 'user-variables';

// Theme Helpers: Variables, Mixins and Placeholders
@import 'helpers';

// Bootstrap Core
@import '../../dist/vendor/bootstrap/scss/bootstrap';

// Theme Core
@import 'reboot';
@import 'components';
@import 'utilities';

// Custom Core
@import 'user';
