<table>
<thead>
<tr>
<th>Website</th>
<th>Language</th>
<th>Keywords</th>
</tr>
</thead>
<tbody>
<% @properties.each do |property| %>
<tr>
<td><%= link_to property.name, property.url, target: "_blank" %></td>
<td><%= property.language %></td>
<td><%= property.keywords.join(", ") %></td>
</tr>
<% end %>
</tbody>
</table>