<%= simple_form_for @job_posting_search, html: { class: "row mb-2", data: { controller: "submit-on-enter" }} do |f| %>
  <div class="col-12 mb-4 mb-lg-0">
    <div class="d-flex">
      <label class="d-block flex-grow-1">
        <span class="h4 d-block text-white font-weight-semi-bold mb-0">search jobs</span>
      </label>
      <% if controller_name != "jobs" %>
        <%= link_to "Post a job for #{Monetize.parse(ENV.fetch("JOBS_MONTHLY_PLAN_PRICE", "$299.00 USD")).format(no_cents: true)}", new_job_posting_prospect_path, class: "font-size-1 p-0 mt-3", style: "text-decoration: underline; color: #ecff63 !important" %>
      <% end %>
    </div>

    <div class="js-focus-state">
      <div class="input-group input-group-lg">
        <%= f.input_field :full_text_search, class: "form-control border-0",
              valid_class: nil, placeholder: "javascript frontend san francisco",
              data: { action: "keydown->submit-on-enter#keyPress" } %>
        <div class="input-group-append">
          <button class="btn btn-white" type="submit">
            <span class="fas fa-search text-muted"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-1 pt-2 text-white-70" style="font-size: 1rem;">
    <div class="d-flex">
      <div class="flex-grow-1">
        You can search by title, keywords, company, location and
        <%= link_to "remote", job_posting_searches_path(job_posting_search: { full_text_search: "remote" }), method: :post, class: "text-white text-link" %>
      </div>
      <a href="https://twitter.com/CodeFundJobs" class="twitter-follow-button" data-show-count="false"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
<% end %>
