<div class="container p-5 bg-white border border-top-0">
  <h3 class="mt-0 mb-5 text-primary">Sponsor Campaign Settings</h3>
  <%= render "/shared/forms/section_heading", title: "Creatives",
    subtitle: "Pick which creatives you would like to use (only approved creatives are available)",
    help: "Multivariate testing is used to determine the most effective creative" %>

  <div class="row" data-target="campaign-form.creativesWrapper">
    <%= render partial: "/creative_options/options",
        locals: {
          selected_creative_ids: campaign.creative_ids,
          creatives: campaign.user.creatives.active.sponsor.order(name: :asc)
        } %>
  </div>

  <% if authorized_user.can_admin_system? %>
    <%= render "/shared/forms/section_heading", title: "Budget", subtitle: "Let's talk numbers" %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :total_budget, label: "Selling Price", as: :currency, currency: "$" %>
        <small id="passwordHelpBlock" class="form-text text-muted">
          Fixed price for explicitly targeted properties for a dedicated period of time
        </small>
      </div>
    </div>
  <% end %>
</div>
