<%= render layout: "/organizations/show_layout", locals: { organization: @organization } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Transactions
      <small class="text-muted d-block">Financial ledger for <%= @organization.name %></small>
    </h3>
    <%= link_to new_organization_transaction_path(@organization), class: "btn btn-sm btn-success transition-3d-hover", style: "height: 42px;" do %>
      <span class="fa fa-plus font-size-13 mr-2"></span>
      Add Transaction
    <% end %>
  </div>

  <%= render "/organization_transactions/table", organization: @organization, organization_transactions: @organization_transactions, pagy: @pagy %>
<% end %>

