<%= render partial: "/shared/comment", collection: @comments, as: :comment %>

<%= form_tag comments_path, method: :post do %>
  <input type="hidden" name="sgid" value="<%= @commentable.to_sgid %>" />
  <div class="mb-3">
    <div class="js-form-message">
      <div class="input-group input-group-borderless">
        <textarea class="form-control bg-light" rows="4" name="body" placeholder="Add a comment" aria-label="Add a comment" required
                  data-msg="Please enter a comment."
                  data-error-class="u-has-error"
                  data-success-class="u-has-success"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-block btn-soft-primary transition-3d-hover">Add Comment</button>
<% end %>
