<li class="media pt-3 pb-2 border-bottom">
  <div class="d-flex w-20 w-sm-25">
    <h3 class="h6"><%= label.html_safe %></h3>
  </div>
  <div class="media-body text-muted">
    <%= capture(&block) %>
  </div>
</li>
