<!-- Search -->
<div id="searchPushTop" class="u-search-push-top">
  <div class="container position-relative">
    <div class="u-search-push-top__content">
      <!-- Close Button -->
      <button type="button" class="close u-search-push-top__close-btn"
              aria-haspopup="true"
              aria-expanded="false"
              aria-controls="searchPushTop"
              data-unfold-type="jquery-slide"
              data-unfold-target="#searchPushTop">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- End Close Button -->

      <form data-controller="search-autocomplete" data-action="submit->search-autocomplete#submit" data-autocomplete-url="/search" data-min-length="2" class="search-autocomplete js-focus-state input-group input-group-lg">
        <input type="search" id="search-input" class="form-control" placeholder="Search CodeFund" aria-label="Search CodeFund" data-target="search-autocomplete.input"/>
        <input type="hidden" name="bird_id" data-target="search-autocomplete.hidden"/>
        <ul data-target="search-autocomplete.results" class="list-group"></ul>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Search -->