<%= render layout: "/applicants/show_layout", locals: { applicant: @applicant } do %>
  <h3 class="h5 mb-3">
    Results
    <small class="text-muted d-block">Disposition of application</small>
  </h3>

  <div class="alert alert-info">Coming soon</div>
<% end %>