// =========== Checkbox Tree ===========
.checkbox-tree {
  &__branch {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    color: $color-primary;
  }

  &__branch > i {
    align-self: flex-start;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.2s;

    &.open {
      transform: rotate(90deg);
    }
  }

  &__branch-leaves {
    grid-column: 2/3;
    align-self: start;
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
    color: #1e2022;
    font-size: 14px;

    &.open {
      height: auto;
    }
  }

  &__branch-leaves legend {
    display: none;
  }
}
