.trix-email-preview {
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  a {
    font-size: 0.875rem !important;
  }
}

.email-attachment {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 8px;
  display: inline-block;
}
