// =========== Select Boxes ===========
.select2-container--bootstrap {
  .select2-results__option[aria-selected='true'],
  .select2-results__option[aria-disabled='true'] {
    display: none;
  }
}

.select2-container--bootstrap .select2-selection--single {
  padding: 7px 5px 7px 15px !important;
  border-radius: 0.125rem !important;
  box-shadow: none !important;
  border: 1px solid #d5dae2 !important;
}

.select2-selection--multiple {
  padding: 7px 5px !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.125rem !important;
  box-shadow: none !important;
  border: 1px solid #d5dae2 !important;

  .select2-selection__choice {
    margin: 5px 0 0 6px !important;
    padding: 0 6px !important;
    position: relative !important;
    display: inline-block !important;
    font-size: 0.875rem !important;
    color: #ffffff !important;
    background: rgba(52, 108, 176, 0.66) !important;
    border-radius: 0.25rem !important;
    border: none !important;
    padding: 0.25rem 0.75rem !important;
    margin: 0 0 0.25rem 0.25rem !important;

    .select2-selection__choice__remove {
      margin-right: 6px !important;
      color: #ffffff !important;
    }
  }
}
