// =========== Sparkline Charts ===========
$colors: (
  red: #dc2b33,
  blue: #3d85de,
  green: #00a28a,
  gray: #777,
  orange: #e36023,
  purple: #573585,
  yellow: #fdd700,
  pink: #db3b9e
);

.sparkline {
  fill: none;
  position: relative;
}

.sparkline--tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
}

@each $name, $color in $colors {
  .sparkline--#{$name} {
    stroke: $color;
  }
  .sparkline--#{$name}.sparkline--filled {
    fill: rgba($color, 0.3);
  }
}
