<div class="page" id="cover">
  <div class="graphic">
    <%= image_pack_tag "branding/codefund-by-gitcoin.svg" %>
  </div>
  <h1><%= report.title %></h1>
  <p class="by">Generated on <%= report.created_at.to_s("bdy") %></p>
</div>
