<% cache_if @campaign.persisted? && @creative.persisted?, [@campaign, @creative] do %>
  <div id="cf">
    <b><%= @creative.headline %></b>
    <%= @creative.body %>
    <a data-href="campaign_url" rel="sponsored noopener" target="_blank" onmouseenter="this.style.color='#1d6fa5'" onmouseleave="this.style.color='#3498db'">
      <b><%= @creative.cta || "Learn more" %></b>
    </a>
    <img class="cf-hidden" data-src="impression_url" alt="">
    <a class="cf-hidden" data-target="powered_by_url"></a>
  </div>
<% end %>
