<div id="cf_ad">
  <span class="cf-wrapper">
    <div class="cf-header">Proudly sponsored by</div>
    <a href="{{link}}" class="cf-text" target="_blank" rel="noopener">
      <strong>{{headline}}</strong> <span>{{description}}</span>
    </a>

    <a href="{{poweredByLink}}" class="cf-powered-by" target="_blank" rel="noopener">
      <em>ethical</em> ads via CodeFund
      <img src="{{pixel}}" width="1" height="1" style="width: 1px; height: 1px;" />
    </a>
  </span>
</div>
