<% cache_if @campaign.persisted? && @creative.persisted?, [@campaign, @creative] do %>
  <div id="cf">
    <span class="cf-wrapper">
      <a data-href="campaign_url" target="_blank" rel="sponsored noopener">
        <span class="cf-img-wrapper" >
          <%= image_tag @creative.large_image.cloudfront_url, class: "cf-img", alt: @creative.name rescue nil %>
        </span>
        <span class="cf-text">
          <strong><%= @creative.headline %></strong>
          <span><%= @creative.body %></span>
        </span>
      </a>
      <a href="https://codefund.io" data-target="powered_by_url" class="cf-powered-by" target="_blank" rel="sponsored noopener">
        <em>ethical</em> ad by CodeFund
        <img data-src="impression_url" alt="">
      </a>
    </span>
  </div>
<% end %>
