<footer class="app-footer">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a class="text-muted" href="mailto:team@codefund.io">Support</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="https://status.codefund.io" target="_blank">Status</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="https://www.iubenda.com/privacy-policy/47597768" target="_blank">Privacy</a>
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="https://www.iubenda.com/privacy-policy/47597768/cookie-policy" target="_blank">Cookies</a>
    </li>
  </ul>
  <div class="copyright">Copyright &copy; <%= Time.now.year %> ConsenSys, AG. All rights reserved. </div>
</footer>
