<div class="row m-0">
  <div class="col-12 p-0">
    <div class="alert alert-primary has-icon alert-dismissible fade show mb-0">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <div class="alert-icon">
        <span class="fas fa-flag-alt"></span>
      </div>
      <h4 class="alert-heading"> No Data Available </h4>
      <p class="mb-0">We didn't find any data for this table in our records. Try choosing another date range at the top of the page!</p>
    </div>
  </div>
</div>
