<header class="page-navs shadow-sm">
  <a href="page-team-projects.html" class="btn-account">
    <% if local_assigns[:icon] %>
      <i class="<%= icon %> fa-3x mr-3"></i>
    <% end %>
    <div class="account-summary">
      <h1 class="card-title"><%= local_assigns[:title] ? title : "#{action} #{subject}" %></h1>
      <% if local_assigns[:subtitle] %>
        <h6 class="card-subtitle text-muted"><%= subtitle %></h6>
      <% end %>
    </div>
  </a>
  <div class="ml-auto pr-3">
    <% if local_assigns[:datepicker] %>
      <%= render "/shared/date_range_picker" %>
    <% end %>
  </div>
</header>
