<!-- .page-navs -->
<header class="page-navs pr-3">
  <!-- btn-account -->
  <a href="page-team-projects.html" class="btn-account">
    <div class="user-avatar mr-2">
      <%= image_tag local_assigns[:icon] || "/assets/images/avatars/team4.jpg" %>
    </div>
    <div class="account-summary">
      <h1 class="card-title"><%= local_assigns[:title] || "Missing" %></h1>
      <h6 class="card-subtitle text-muted"><%= local_assigns[:subtitle] || "Missing" %></h6>
    </div>
  </a> <!-- /btn-account -->
  <!-- right actions -->
  <div class="ml-auto">
    <!-- invite members -->
    <div class="dropdown d-inline-block">
      <button type="button" class="btn btn-light btn-icon" title="Invite members" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-plus"></i></button> <!-- .dropdown-menu -->
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-rich stop-propagation">
        <div class="dropdown-arrow"></div>
        <div class="dropdown-header"> Add members </div>
        <div class="form-group px-3 py-2 m-0">
          <input type="text" class="form-control" placeholder="e.g. @bent10" data-toggle="tribute" data-remote="assets/data/tribute.json" data-menu-container="#people-list" data-item-template="true" data-autofocus="true" data-tribute="true" /> <small class="form-text text-muted">Search people by username or email address to invite them.</small>
        </div>
        <div id="people-list" class="tribute-inline stop-propagation"></div><a href="#" class="dropdown-footer">Invite member by link <i class="far fa-clone"></i></a>
      </div><!-- /.dropdown-menu -->
    </div><!-- /invite members -->
    <button type="button" class="btn btn-light btn-icon" data-toggle="sidebar"><i class="fa fa-angle-double-left"></i></button>
  </div><!-- /right actions -->
</header><!-- /.page-navs -->
