<aside class="border-right p-3">
  <div class="aside-menu overflow-auto">
    <nav id="stacked-menu" class="stacked-menu">
      <ul class="menu">
        <% if authorized_user.can_advertise_and_publish? %>
          <%= render "/shared/sidebar_content/advertisers_publishers" %>
        <% elsif authorized_user.can_advertise? %>
          <%= render "/shared/sidebar_content/advertisers" %>
        <% elsif authorized_user.can_publish? %>
          <%= render "/shared/sidebar_content/publishers" %>
        <% end %>
        <% if authorized_user.can_admin_system? %>
          <%= render "/shared/sidebar_content/administrators" %>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
