<div id="cf" data-template="image-only" data-theme="{{theme}}">
  <span class="cf-wrapper">
    <div class="cf-header">supported by</div>
    <a href="{{urls.campaign}}" class="cf-img-wrapper" target="_blank" rel="sponsored noopener">
      <img src="{{creative.imageUrls.small}}" alt="{{creative.name}}" height="150" width="150" class="cf-img">
    </a>
    <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener">
      <em>ethical</em> ad by CodeFund
      <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
    </a>
  </span>
</div>
