<!-- CTA
================================================== -->
<section class="py-10 py-md-14 bg-dark" style="background-image: url(/landkit/img/patterns/pattern-1.svg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Badge -->
        <span class="badge badge-pill badge-gray-700-soft mb-3">
          <span class="h6 text-uppercase">Get it done</span>
        </span>
        <!-- Heading -->
        <h1 class="display-4 text-white">
          Get Dashkit and save your time.
        </h1>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-8">
          Stop wasting time trying to do it the "right way" and build your app from scratch. Dashkit is faster, easier, and you still have complete control.
        </p>
        <!-- Button -->
        <a href="#!" class="btn btn-primary-desat lift">
          Check it out <i class="fe fe-arrow-right ml-2"></i>
        </a>
      </div>
    </div>
     <!-- / .row -->
  </div>
   <!-- / .container -->
</section>
