<%= render layout: "/coupons/layout", locals: {pagy: @pagy} do %>
  <article class="mb-4">
    <div class="bg-white shadow-sm">
      <%= render "/coupons/table", coupons: @coupons, pagy: @pagy %>
    </div>
  </article>
<% end %>
