<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <%= link_to link do %>
        <i class="breadcrumb-icon fa fa-angle-left mr-2"></i><%= title %>
      <% end %>
    </li>
  </ol>
</nav>
