<%= render(Comments::RichTextFormComponent.new(commentable: commentable)) %>

<div role="log" class="conversations overflow-auto p-0 mt-3" style="min-height: 200px;">
  <div class="conversation-list p-0">
    <% if comments.any? %>
      <%= render(Comments::CommentComponent.with_collection(comments)) %>
    <% else %>
      <p class="text-center font-italic">There are currently no comments for this resource.</p>
    <% end %>
  </div>
</div>
