<div class="text-center">
  <h2 class="h1 font-weight-normal mb-3">Why CodeFund Jobs?</h2>
  <p class="text-left">
    <strong class="text-dark">Hiring top talent is hard.</strong> Some of the most qualified candidates never visit job
    boards because they have multiple companies seeking them already.
  </p>
  <p class="text-left">
    CodeFund takes a different approach and brings the jobs to them. Using our
    publisher network of developer-centric websites, we place your job in front of
    pre-qualified candidates based on their location and interests.
  </p>
  <%= link_to "Post a job for #{Monetize.parse(ENV.fetch("JOBS_MONTHLY_PLAN_PRICE", "$299.00 USD")).format(no_cents: true)}/mo", new_job_posting_prospect_path, class: "btn btn-success btn-wide transition-3d-hover mt-3 mr-3" %>
  <%= link_to "Search Job Board", job_posting_search_path(0), class: "btn btn-secondary btn-wide transition-3d-hover mt-3", method: :delete %>
</div>
