<div class="card card-frame transition-3d-hover mb-3">
  <%= link_to job_posting, class: "card-body" do %>
      <h4 class="h6 text-dark mb-1"><%= truncate job_posting.title, length: 28 %></h4>
      <small class="d-block text-muted"><%= job_posting.company_location %></small>
  <% end %>
</div>