<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <div class="d-flex">
    <h3 class="h5 mb-3 flex-grow-1">
      Overview <sup><%= link_to tag.i("", class: "fas fa-external-link"), @iframe_url, target: "_blank", class: "color: blue" %></sup>
      <small class="text-muted d-block">A mini-dashboard specifically for this property.</small>
    </h3>
  </div>

  <small class="text-center d-block text-muted">
    ensure ad blockers are disabled to view the overview
  </small>
  
  <iframe
    src="<%= @iframe_url %>"
    style="width: 100%; min-height: 2000px; border: 0; resize: horizontal;"
    height="2000"
    scrolling="no"
    allowtransparency></iframe>
<% end %>
