<section class="position-relative pt-12 pt-md-14 mt-n11">
  <!-- Shape -->
  <div class="shape shape-fluid-x shape-blur-2 svg-shim text-light">
    <svg viewBox="0 0 1313 768" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M442.794 768C605.882 768 748.362 679.773 825.111 548.444L825.294 549C825.294 549 825.543 548.251 826.056 546.819C839.139 524.212 850.279 500.339 859.248 475.43C901.996 397.81 989.306 277.09 1144.29 206L1143.37 205.307C1230.34 171.296 1295.63 94.049 1312.83 0H1.29419V295.514C0.631105 305.423 0.294189 315.422 0.294189 325.5C0.294189 569.886 198.408 768 442.794 768Z"
        fill="currentColor"></path>
    </svg>
  </div>
  <!-- Content -->
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-md-6">
        <!-- Image -->
        <img src="/landkit/img/illustrations/illustration-4.png" alt="..."
          class="img-fluid mw-130 float-right mb-6 mb-md-0 aos-init aos-animate" data-aos="fade-right" />
      </div>
      <div class="col-12 col-md-6">
        <!-- Heading -->
        <h1 class="display-1 font-weight-bold">
          <div data-aos="fade-left" class="aos-init aos-animate">Get Results.</div>
          <div data-aos="fade-left" data-aos-delay="100" class="aos-init aos-animate">Respect Privacy.</div>
        </h1>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
          Reaching the right developers has never been easier. Easily target the right developer audience for less.
        </p>
      </div>
    </div>
     <!-- / .row -->
  </div>
   <!-- / .container -->
</section>
