<div class="col-md-6">
  <div class="card mb-5 cursor-pointer gradient-half-primary-v3 opacity-70"
       data-amount="<%= @monthly_plan_price.cents %>"
       data-target="job-posting-purchases-form.monthlyPlan"
       data-action="mouseenter->job-posting-purchases-form#highlight mouseleave->job-posting-purchases-form#dehighlight click->job-posting-purchases-form#selectMonthlyPlan">
    <div class="card-body p-4">
      <div class="mb-4">
        <h4 class="text-success mb-0">1 Month</h4>
        <h3><strong><%= @monthly_plan_price.format no_cents: true %></strong><small class="ml-1 text-secondary">/month</small></h3>
      </div>

      <ul class="pl-0 mb-4">
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> One job listing</li>
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> 30 days in the directory</li>
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> Cancel any time</li>
      </ul>

      <small class="text-secondary">Renews every 30 days, starting today</small>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card mb-5 cursor-pointer gradient-half-primary-v3 opacity-70 border-2"
       data-amount="<%= @prepaid_plan_price.cents %>"
       data-target="job-posting-purchases-form.prepaidPlan"
       data-action="mouseenter->job-posting-purchases-form#highlight mouseleave->job-posting-purchases-form#dehighlight click->job-posting-purchases-form#selectPrepaidPlan">
    <div class="card-body p-4">
      <div class="mb-4">
        <h4 class="text-success mb-0">3 Months</h4>
        <h3 class="mb-0"><strong><%= (@prepaid_plan_price / 3).format no_cents: true %></strong><small class="ml-1 text-secondary">/month</small></h3>
      </div>

      <ul class="pl-0 mb-4">
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> One job listing</li>
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> 90 days in the directory</li>
        <li class="list-inline-item"><i class="fas fa-check text-success mr-1"></i> Cancel any time</li>
      </ul>

      <small class="text-secondary">3 months pre-paid</small>
    </div>
  </div>
</div>
