<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7 job-listing text-center">
        <i class="fal fa-7x fa-thumbs-up text-success"></i>
        <p style="font-size: 1.1rem;" class="text-left mt-5">
          <strong class="text-dark">Your job posting is live.</strong> It will appear on CodeFund Jobs for 30 days and will be auto renewed
          on <%= Date.current.advance(days: 30).to_s("abdy") %>. Disable auto-renewal anytime in the
          <%= link_to "Jobs", "#" %> section of your account.
        <p>
        <%= link_to "View your job listing", job_posting_path(@job_posting), class: "btn btn-primary mt-3 mr-3" %>
        <%= link_to "Manage my listings", manage_job_postings_path, class: "btn btn-soft-secondary mt-3" %>
      </div>
    </div>
  </div>
</main>
