<div class="page-inner">
  <%= render "/shared/page_heading_with_subtitle",
    title: "Administrator Dashboard",
    datepicker: false %>
      <iframe
        src="<%= @iframe_url %>"
        title="Administrator Dashboard"
        class="metabase-card border rounded"
        height="2000"
        scrolling="no"
        allowtransparency></iframe>
</div>
