<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard", class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/date_range_picker" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Administrator", "Dashboard",
    subtitle: "Overall view of your account",
    icon: "fas fa-tachometer" %>
<% end %>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="text-center mb-3 mt-5">
      <span class="u-divider u-divider--xs u-divider--text">Active Premium Campaigns</span>
    </div>

    <div class="mb-7" id="dashboard-advertiser-cards">
      <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
        <% @active_campaigns.each.with_index do |campaign, index| %>
          <%= render "/campaigns/card", campaign: campaign %>
          <% if (index + 1) % 3 == 0 %>
            </div><div class="card-deck d-block d-lg-flex card-lg-gutters-2">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
