<div class="col-12">
  <div class="card mb-4">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="h6 mb-0"><%= template %> (<%= theme %>)</h4>
        <div class="position-relative">
          <%= link_to creative_previews_path(creative, template: template, theme: theme),
            class: "btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent", target: "_blank" do %>
            <i class="fas fa-external-link btn-icon__inner"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body p-2">
      <iframe src="<%= creative_previews_path creative, template: template, theme: theme %>"
        style="height:375px; width:100%; border:0; resize:horizontal;"
        frameBorder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
