#cf {
  max-width: 255px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

#cf a {
  box-shadow: none !important;
  text-decoration: none;
}

#cf .cf-wrapper {
  display: block;
  padding: 0px;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-family: Helvetica, Arial;
  font-weight: 350;
  margin-left: auto;
  margin-right: auto;
}

#cf .cf-img-wrapper {
  display: block;
  line-height: 1;
  margin-bottom: 8px;
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

#cf .cf-img-wrapper img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

#cf .cf-text {
  display: block;
  padding: 0 1em 1em 1em;
  color: hsla(0, 0%, 0%, 0.8);
}

#cf .cf-powered-by {
  background-color: hsla(0, 0%, 0%, 0.05);
  text-align: center;
  display: block;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2.2;
  padding: 10px auto;
  text-transform: uppercase;
  color: hsla(0, 0%, 0%, 0.8);
}

#cf .cf-powered-by img {
  position: fixed;
  left: -1000px;
  top: -1000px;
}
