<div class="page-sidebar">
  <header class="sidebar-header d-sm-none">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="#" onclick="CodeFundTheme.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
        </li>
      </ol>
    </nav>
  </header>
  <div class="sidebar-section-fill">
    <div class="card card-reflow p-3">
      <h6>What is a Conversion Pixel?</h6>
      <p>A conversion pixel is a JavaScript code used to track relevant user actions on your site.</p>
      <ul>
        <li>Clicking a CTA</li>
        <li>Filling out a form</li>
        <li>Making a purchase</li>
        <li>etc...</li>
      </ul>
      <hr />
      <p class="opacity-50">
        <em>CodeFund allows you define custom conversion pixels that represent your success metrics.</em>
      </p>
    </div>
  </div>
</div>
