#cf {
  width: 125px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}

#cf .cf-wrapper {
  display: block;
  padding: 0px;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 350;
  margin-left: auto;
  margin-right: auto;
}

#cf .cf-image-wrapper {
  display: block;
  margin-bottom: 8px;
}

#cf .cf-image-wrapper img {
  max-width: 125px;
}

#cf .cf-text {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

#cf .cf-text strong {
  color: #ffffff;
}

#cf .cf-powered-by {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: left;
}

#cf .cf-powered-by:hover {
  text-decoration: underline;
}

#cf .cf-powered-by img {
  position: fixed;
  left: -1000px;
  top: -1000px;
}
