#cf {
  width: 125px;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}

#cf .cf-wrapper {
  display: block;
  padding: 0px;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  font-family: Helvetica, Arial;
  font-weight: 350;
  margin-left: auto;
  margin-right: auto;
}

#cf .cf-img-wrapper {
  display: block;
  margin-bottom: 8px;
}

#cf .cf-img-wrapper img {
  width: 125px;
  height: 125px;
}

#cf .cf-text {
  color: #3e3e3e;
  text-decoration: none;
}

#cf .cf-powered-by {
  margin-top: 10px;
  font-size: 12px;
  display: block;
  color: #aaa;
  text-decoration: none;
}

#cf .cf-powered-by:hover {
  text-decoration: underline;
}

#cf .cf-powered-by img {
  position: fixed;
  left: -1000px;
  top: -1000px;
}
