<div class="card">
  <div class="card-body p-5">
    <div class="media align-items-center">
      <% if local_assigns[:icon].present? %>
        <span class="btn btn-lg btn-icon <%= color %> rounded-circle mr-4">
          <span class="<%= icon %> btn-icon__inner"></span>
        </span>
      <% end %>
      <div class="media-body">
        <span class="d-block font-size-3"><%= value %></span>
        <h3 class="h6 text-secondary font-weight-normal mb-0"><%= label %></h3>
      </div>
    </div>
  </div>
</div>