<%= link_to organization_transaction_path(organization, organization_transaction),
      method: :delete, class: "btn btn-sm btn-subtle-danger",
      data: {confirm: "Are you sure you want to delete this transaction?"} do %>
  <span class="fa fa-trash"></span>
<% end %>
