<%= link_to creative_path(creative),
            method: :delete,
            class: "btn btn-xs btn-subtle-secondary",
            data: {confirm: "Are you sure you want to delete this creative?"} do %>
  <span class="fas fa-trash"></span>
<% end %>
