.search-autocomplete {
  ul.list-group {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    position: absolute;
    top: 67px;
    z-index: 50;
    background-color: white;
    width: 100%;

    li {
      line-height: 2rem;
      border-bottom: 1px solid #efefef;
      padding: 5px 10px;

      &.search-results--user {
        border-left: 5px solid #4b8aff;
      }

      &.search-results--property {
        border-left: 5px solid #ef8c41;
      }

      &.search-results--campaign {
        border-left: 5px solid #00cf7a;
      }

      &.search-results--organization {
        border-left: 5px solid #061e23;
      }

      &:hover {
        background-color: #efefef;
        cursor: pointer;
      }

      &.active {
        background-color: #4b8aff;
        color: #ffffff;
      }
    }
  }
}
