@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

.blog__article {
  &__featured-image {
    @include img-fluid;
  }
  &__title {
    line-height: 1.25;
    letter-spacing: 0;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
  }
  &__subtitle {
    font-size: 22px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 22px;
    line-height: 2rem;
    letter-spacing: -0.012em;
    font-style: normal;
    color: rgba(0, 0, 0, 0.54);
  }
  &__author {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif !important;
    img.rounded-circle {
      max-width: 50px !important;
      max-height: 50px !important;
    }
    .author-name {
      margin-bottom: 0px;
      a {
        color: rgba(0, 0, 0, 0.9);
      }
    }
    .date-published {
      display: block;
      margin-top: 0px;
      font-size: 14px;
      font-style: normal;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  &__body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba(0, 0, 0, 0.9);
      font-weight: 400;
      font-size: 1.3rem;
      margin-top: 2rem;
    }
    p,
    ul,
    li {
      font-family: 'Nanum Myeongjo', serif;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);
      font-style: normal;
      font-size: 20px;
      line-height: 1.58;
      letter-spacing: -0.003em;
    }
    img {
      @include img-fluid;
      max-width: 100%;
      height: auto;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 767px) {
  .blog__article {
    &__title {
      line-height: 1.25;
      font-size: 28px;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 2rem;
    }
    p,
    ul,
    li {
      font-size: 22px;
    }
  }
}
