.company-logo-wrapper {
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

img.company-logo {
  max-height: 140px;
  max-width: 140px;
  width: auto;
  height: auto;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  margin: auto;
}

.company-logo-wrapper--100 {
  height: 100px;
  width: 100px;
}

img.company-logo--100 {
  max-height: 90px;
  max-width: 90px;
}

hr.faded {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.75), rgba(204, 204, 204, 0));
}

li.internal-job {

}

li.premium-job {
  border-left: solid 6px #377dff !important;
  background-color: #edf4f7;
}
