legend, label {
  abbr[title=required] {
    color: #de4437;
    text-decoration: none;
  }
}

.form-control-label,
fieldset legend.col-form-label {
  opacity: 0.6;
  font-size: 0.75em;
  text-transform: uppercase;
}

fieldset legend.col-form-label {
  position: relative;
  top: 4px;
}

fieldset.inline {
  .form-check {
    margin-right: 1.5em;
    display: inline-block;
    &, & * {
      cursor: pointer;
    }
  }
}

.select2 {
  width: auto !important;
}

.select2-container--bootstrap {
  .select2-results__option[aria-selected=true],
  .select2-results__option[aria-disabled=true] {
    display: none;
  }
}

.flatpickr-calendar {
  .flatpickr-months {
    .flatpickr-month {
      min-height: 40px;
    }
  }
}
