<form id="clientNewForm">
  <div class="modal fade" id="clientNewModal" tabindex="-1" role="dialog" aria-labelledby="clientNewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 id="clientNewModalLabel" class="modal-title inline-editable">
            <span class="sr-only">Client name</span>
            <input type="text" class="form-control form-control-lg" placeholder="E.g. Stilearning, Inc." required />
          </h6>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="cnContactName">Contact name</label>
                <input type="text" id="cnContactName" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="cnContactEmail">Contact email</label>
                <input type="email" id="cnContactEmail" class="form-control" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="cnStreet">Street</label>
                <input type="text" id="cnStreet" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cnSuite">Suite</label>
                <input type="text" id="cnSuite" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cnZip">Zip</label>
                <input type="text" id="cnZip" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cnCountry">Country</label>
                <select id="cnCountry" class="custom-select d-block w-100">
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cnCity">City</label>
                <select id="cnCity" class="custom-select d-block w-100">
                  <option value="">Choose...</option>
                  <option>San Francisco</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
