<%= render layout: "/properties/show_layout", locals: { property: @commentable } do %>
  <h3 class="h5 mb-3">
    Comments
    <small class="text-muted d-block">Comments and notes for this property</small>
  </h3>
  <%= render "/comments/table", commentable: @commentable, comments: @comments %>
<% end %>
