<%= link_to creative_path(creative),
      method: :delete, class: "btn btn-sm btn-soft-danger transition-3d-hover text-white",
      data: { confirm: "Are you sure you want to delete this creative?" } do %>
  <span class="fa fa-trash font-size-13"></span>
<% end %>
