<div class="card">
  <div class="card-img-top d-flex justify-content-center align-items-center p-4" style="min-height:200px">
    <%= image_tag image, class: "img-thumbnail mw-100" %>
  </div>
  <div class="card-body">
    <ul class="list-inline d-flex text-muted align-items-center mb-0">
      <li class="list-inline-item text-truncate mr-auto">
        <%= image.blob.filename.to_s %>
      </li>
      <% if authorized_user.can_admin_system? %>
        <li class="list-inline-item">
          <%= render "/shared/actions/edit_image", imageable: imageable, image: image %>
        </li>
        <li class="list-inline-item">
          <%= render "/shared/actions/delete_image", imageable: imageable, image: image %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

