<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Countries
      <small class="text-muted d-block">Spend and statistics by country</small>
    </h3>
    <%= link_to campaign_countries_path(@campaign, format: :csv), title: "Download this report<br>as CSV", data: { toggle: "tooltip", placement: "top", html: true } do %>
      <i class="fas fa-download"></i>
      Download
    <% end %>
  </div>

  <%= render "/campaign_countries/table" %>
<% end %>
