<a class="btn btn-xs btn-icon btn-soft-secondary transition-3d-hover" href="<%= link %>"
    data-toggle="tooltip" data-placement="top" title="Edit" data-original-title="Edit">
  <span class="fas fa-pen btn-icon__inner"></span>
</a>