<%= link_to link, class: "btn btn-xs btn-icon btn-soft-secondary transition-3d-hover",
      title: title, data: tooltip_expando, method: (local_assigns[:method] || :get) do %>
  <span class="<%= icon %> btn-icon__inner"></span>
<% end %>