<% cache_if @campaign.persisted? && @creative.persisted?, [@campaign, @creative] do %>
  <div id="cf">
    <span class="cf-wrapper">
      <div class="cf-header">supported by</div>
      <a data-href="campaign_url" class="cf-img-wrapper" target="_blank" rel="sponsored noopener">
        <%= image_tag @creative.small_image.cloudfront_url, height: 150, width: 150, class: "cf-img", alt: @creative.name rescue nil %>
      </a>
      <a href="https://codefund.io" data-target="powered_by_url" class="cf-powered-by" target="_blank" rel="sponsored noopener">
        <em>ethical</em> ad by CodeFund
        <img data-src="impression_url" alt="">
      </a>
    </span>
  </div>
<% end %>
