<section class="container mt-4">
  <header class="page-title-bar">
    <%= page_heading "Viewing", "Properties",
    subtitle: "#{pluralize(@pagy.count, "record")} found",
    icon: "fas fa-browser" %>
  </header>
  <%= render partial: "/property_searches/form",
                layout: "/shared/collapsible_search_form",
                locals: { search: @property_search } %>
  <article class="bg-white p-4 mb-4">
    <%= render "/properties/table", properties: @properties, pagy: @pagy %>
  </article>
</section>
