<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <div class="d-flex justify-content-between">
          <h1 class="page-title">Properties</h1>
          <div class="btn-toolbar">
            <%= link_to "Add property", new_property_path, class: "btn btn-primary" %>
          </div>
        </div>
      </header>
      <%= render "/properties/list", properties: @properties, pagy: @pagy %>
    </div>
  </div>
</div>
