<div id="cf" data-template="square" data-theme="{{theme}}">
  <span class="cf-wrapper">
    <a href="{{urls.campaign}}" class="cf-sponsored-by" target="_blank" rel="sponsored noopener">
      <span class="cf-img-wrapper" >
        <img src="{{creative.imageUrls.large}}" alt="{{creative.name}}" class="cf-img">
      </span>
      <span class="cf-text">
        <strong>{{creative.headline}}</strong>
        <span>{{creative.body}}</span>
        <span class="cf-cta">{{creative.cta}}</span>
      </span>
    </a>
    <div class="cf-footer">
      <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener">
        <em>ethical</em> ad by CodeFund
      </a>
      •
      <span class="cf-close" data-behavior="close">Close Ad</span>
      <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
    </div>
  </span>
</div>
