<li class="breadcrumb-item <%= local_assigns[:class] %>" aria-current="page">
  <%= link_to @imageable.class.name.pluralize, try("#{@imageable.class.table_name}_path"), class: "breadcrumb-link" %>
</li>
