<table class="table table-borderless mt-5">
  <thead>
    <tr class="table-primary ">
      <th scope="col" class="rounded-left">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Roles</th>
      <th scope="col" class="rounded-right"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/users/tr", collection: @users, as: :user %>
  </tbody>
</table>
