<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Company</th>
        <th scope="col">Roles</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="font-size-1">
      <%= render partial: "/users/tr", collection: @users, as: :user %>
    </tbody>
    <tfoot>
      <tr class="border-top">
        <td colspan="5" class="pt-3">
          <%== pagy_nav_responsive_bootstrap(@pagy) if @pagy.pages > 1 %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
