<div class="container mt-3">
  <%= page_heading "Editing", "User", subtitle: @user.scoped_name %>
  <%= render 'form', user: @user %>
  <%= link_to 'View', @user, class: "btn btn-link" %>
  <%= link_to 'Back', users_path, class: "btn btn-link" %>
</div>
