<!-- Login Form -->
<div class="container space-top-2 space-top-md-4 space-bottom-2">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "js-validate w-md-75 w-lg-50 mx-md-auto" }) do |f| %>
    <!-- Title -->
    <div class="mb-7">
      <h1 class="h3 font-weight-normal mb-0">Forgot your <span class="font-weight-semi-bold text-success">password?</span></h1>
      <p>Enter your email address below and we'll get you back on track.</p>
    </div>
    <!-- End Title -->

    <!-- Form Group -->
    <div class="js-form-message form-group">
      <%= f.input :email,
              required: true,
              autofocus: true,
              input_html: { autocomplete: "email" },
              placeholder: "Email address",
              data: {
                rule_email: true,
                msg: "Please enter a valid email address.",
                error_class: "u-has-error",
                success_class: "u-has-success"
              } %>
    </div>
    <!-- End Form Group -->

    <!-- Button -->
    <div class="row align-items-center mb-5">
      <div class="col-4 col-sm-6">
        <%= link_to "Back to sign in", new_user_session_path, class: "small link-muted" %>
      </div>

      <div class="col-8 col-sm-6 text-right">
        <button type="submit" class="btn btn-primary transition-3d-hover">Request Reset Link</button>
      </div>
    </div>
    <!-- End Button -->
  <% end %>
</div>
<!-- End Login Form -->
