<%# cache property do %>
  <tr>
    <td><%= property.name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <span class="fas fa-circle text-primary small mr-1"></span>
      Completed
    </td>
  </tr>
<%# end %>
