// =========== Navbar User Dropdown ===========
.app-header,
.nav-tabs-wrapper {
  .dropdown-menu.show {
    top: 100% !important;
  }
}

// =========== Navbar Tiled Dropdown ===========
.dropdown-menu-rich.dropdown-menu-right.show {
  right: 0 !important;
  left: auto !important;
}

// =========== Sidebar Dropdown ===========
.dropdown-aside {
  top: 80px;
}

.dropdown-aside.show {
  top: 100%;
}
