<%= render layout: "/shared/layout", locals: {
  subject: @user,
  title: "Edit Password",
  subtitle: "Fill out the form below to change your password",
  sidebar: false,
  tabs: false
} do %>
  <div class="row border-top pt-4">
    <div class="col-12 col-md-6 offset-md-3">
      <%= render "/user_passwords/form" %>
    </div>
  </div>
<% end %>
