<% content_for :page_heading do %>
  <%= page_heading "Change", "Password",
      subtitle: "Enter your new password below",
      icon: "fas fa-key" %>
<% end %>

<section class="container mt-4">
  <header class="page-title-bar">
    <%= yield :page_heading %>
  </header>
  <%= render "/user_passwords/form" %>
</section>
