<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <div class="d-flex justify-content-between">
          <h1 class="page-title"><%= local_assigns[:title] %></h1>
          <% if local_assigns[:buttons].present? %>
            <div class="btn-toolbar">
              <% local_assigns[:buttons].each do |link| %>
                <%= link.html_safe %>
              <% end %>
            </div>
          <% end %>
        </div>
      </header>
      <%= yield %>
    </div>
  </div>
</div>
