<header class="page-title-bar mb-0">
  <div class="d-flex flex-column flex-md-row">
    <p class="lead">
      <span class="font-weight-bold h4">
        <%= local_assigns[:title] ? title : "#{action_name} #{subject}" %>
        <span hidden role="status" class="reflex-activity spinner-border spinner-border-sm text-primary" style="position:relative; top:-5px;"></span>
      </span>
      <%= tag.span subtitle, class: "d-block text-muted" if local_assigns[:subtitle].present? %>
    </p>
    <% if local_assigns[:datepicker] || local_assigns[:buttons] %>
      <div class="ml-auto d-flex">
        <% if local_assigns[:datepicker] %>
          <%= render "/shared/date_range_picker" %>
        <% end %>
        <% (local_assigns[:buttons] || []).each do |link| %>
          <%= link.html_safe %>
        <% end %>
        <% if local_assigns[:sidebar] %>
          <button type="button" class="btn tile layout-button d-xl-none" onclick="CodeFundTheme.toggleSidebar()">
            <span class="fa fa-angle-double-left"></span>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
