<%= render layout: "/organizations/layout", locals: { organization: @organization } do %>
  <div class="row">
    <div class="col-12">
      <%= render "organizations/details_card" %>
    </div>
  </div>
<% end %>
