<%= render layout: "/shared/layout", locals: {
  subject: @organization,
  sidebar: true
} do %>
  <%= card do %>
    <%= card_body do %>
      <h3 class="w-full text-center">Coming Soon</h3>
    <% end %>
  <% end %>
<% end %>
