legend, label {
  abbr[title=required] {
    color: #de4437;
    text-decoration: none;
  }
}

.form-control-label,
fieldset legend.col-form-label {
  opacity: 0.6;
  font-size: 0.75em;
  text-transform: uppercase;
}

fieldset legend.col-form-label {
  position: relative;
  top: 4px;
}

fieldset.inline {
  .form-check {
    margin-right: 1.5em;
    display: inline-block;
    &, & * {
      cursor: pointer;
    }
  }
}

.select2-container--bootstrap {
  .select2-results__option[aria-selected=true],
  .select2-results__option[aria-disabled=true] {
    display: none;
  }
}

.flatpickr-calendar {
  .flatpickr-months {
    .flatpickr-month {
      min-height: 40px;
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.inverted-feedback .invalid-feedback {
  color: #ffc655 !important;
}

#tophat {
  .list-label {
    transition: opacity 0.5s ease;
    opacity: 0.6;
  }

  .list-item {
    transition: opacity 0.5s ease;
    opacity: 0.6;
    filter: grayscale(1);

    &.active,
    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  &:hover {
    .list-label {
      opacity: 1;
    }
  }
}

.breadcrumb-item.active .breadcrumb-link {
  color: #fff;
}

#filterAccordian .filter-badge {
  padding: 0.5rem 0.8rem 0.5rem;
  font-size: 80%;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: -4px;

  &:before {
    font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f00c ";
  }
}

th[scope=col] a {
  color: #1e2022;
  border-bottom: 1px dotted #1e2022;
  text-decoration: none;
}