$border-color: #d5dae2;

trix-toolbar {
  height: 29px;
  .trix-button-row {
    .trix-button-group {
      border-color: $border-color;
      border-bottom: none;
    }
  }
}

trix-editor {
  border-color: $border-color;
  border-radius: 0.25rem;
  min-height: 146px;
  &:focus {
    box-shadow: 0 0 25px rgba(55, 125, 255, .1);
    border-color: rgba(55, 125, 255, .5);
  }
}

.trix-content {
  & {
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
    font-weight: 600;
  }
  ul {
    margin-left: 10px;
  }
}
