<div id="cf" data-template="vertical" data-theme="{{theme}}">
  <span class="cf-wrapper">
    <a href="{{urls.campaign}}" class="cf-sponsored-by" target="_blank" rel="sponsored noopener">
      <span class="cf-img-wrapper">
        <img src="{{creative.imageUrls.small}}" alt="{{creative.name}}" border="0" height="125" width="125" class="cf-img">
      </span>
      <span class="cf-text">
        <strong>{{creative.headline}}</strong>
        <span>{{creative.body}}</span>
        <span class="cf-cta">{{creative.cta}}</span>
      </span>
    </a>
    <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener">
      ethical ad by CodeFund
      <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
    </a>
  </span>
</div>
