#cf[data-template='vertical'][data-theme='dark'] {
  width: 125px;
  margin: 0 auto;
  border: none;
  background-color: transparent;

  a {
    box-shadow: none !important;
    text-decoration: none;
  }

  .cf-wrapper {
    display: block;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 350;
    margin-left: auto;
    margin-right: auto;
  }

  .cf-img-wrapper {
    display: block;
    margin-bottom: 8px;
  }

  .cf-img-wrapper img {
    width: 125px;
    height: 125px;
    position: relative;
  }

  .cf-text {
    color: rgba(255, 255, 255, 0.8);
  }

  .cf-text strong {
    color: #ffffff;
  }

  .cf-cta {
    text-decoration: underline;
    color: #ffffff;
  }

  .cf-powered-by {
    margin-top: 10px;
    font-size: 11px;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
  }

  .cf-powered-by:hover {
    text-decoration: underline !important;
  }

  .cf-powered-by img {
    position: fixed;
    left: -1000px;
    top: -1000px;
  }
}

#cf[data-template='vertical'][data-theme='light'] {
  width: 125px;
  margin: 0 auto;
  border: none;
  background-color: transparent;

  a {
    box-shadow: none !important;
    text-decoration: none;
  }

  .cf-wrapper {
    display: block;
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 350;
    margin-left: auto;
    margin-right: auto;
  }

  .cf-img-wrapper {
    display: block;
    margin-bottom: 8px;
  }

  .cf-img-wrapper img {
    width: 125px;
    height: 125px;
    position: relative;
  }

  .cf-text {
    color: #3e3e3e;
  }

  .cf-cta {
    text-decoration: underline;
    color: #2c6ac7;;
  }

  .cf-powered-by {
    margin-top: 10px;
    font-size: 11px;
    display: block;
    color: #aaa;
    text-decoration: none;
  }

  .cf-powered-by:hover {
    color: #888;
    text-decoration: underline !important;
  }

  .cf-powered-by img {
    position: fixed;
    left: -1000px;
    top: -1000px;
  }
}
