<div id="cf" data-template="bottom-bar" data-theme="{{theme}}">
  <span class="cf-wrapper">
    <a href="{{urls.campaign}}" class="cf-text" target="_blank" rel="sponsored noopener">
      <strong>{{creative.headline}}</strong>
      <span>{{creative.body}}</span>
      <span class="cf-cta">{{creative.cta}}</span>
    </a>
    <div class="cf-footer">
      <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
      <a class="cf-powered-by" href="{{urls.poweredBy}}" target="_blank" rel="sponsored noopener"><em>ethical</em> ads by CodeFund</a>
      •
      <span class="cf-close" data-behavior="close">Close</span>
    </div>
  </span>
</div>
