<div id="cf" data-template="rectangle-narrow" data-theme="{{theme}}">
  <span>
    <span class="cf-wrapper">
      <a href="{{urls.campaign}}" class="cf-sponsored-by" target="_blank" rel="sponsored noopener">
        <span class="cf-img-wrapper">
          <img src="{{creative.imageUrls.small}}" alt="{{creative.name}}" border="0" height="100" width="100" class="cf-img">
        </span>
        <span class="cf-text">
          <strong>{{creative.headline}}</strong>
          <span>{{creative.body}}</span>
        </span>
      </a>
      <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener">
        ads served ethically
        <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
      </a>
    </span>
  </span>
</div>
