#cf[data-template='rectangle-narrow'][data-theme='dark'] {
  margin: 0 auto;
  max-width: 330px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);

  a {
    box-shadow: none !important;
    text-decoration: none;
  }

  .cf-wrapper {
    border-radius: 0;
    display: block;
    padding: 14px 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
  }

  .cf-img-wrapper {
    float: left;
    margin-right: 15px;
  }

  .cf-img {
    vertical-align: middle;
    border-style: none;
    max-width: 130px;
    position: relative;
  }

  .cf-text {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }

  .cf-powered-by {
    margin-top: 5px;
    font-size: 12px;
    display: block;
    color: #777;
  }
}

#cf[data-template='rectangle-narrow'][data-theme='light'] {
  margin: 0 auto;
  max-width: 330px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);

  a {
    box-shadow: none !important;
    text-decoration: none;
  }

  .cf-wrapper {
    border-radius: 0;
    display: block;
    padding: 14px 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
  }

  .cf-img-wrapper {
    float: left;
    margin-right: 15px;
  }

  .cf-img {
    vertical-align: middle;
    border-style: none;
    max-width: 130px;
    position: relative;
  }

  .cf-text {
    color: rgba(0, 0, 0, 0.8);
  }

  .cf-powered-by {
    margin-top: 5px;
    font-size: 11px;
    display: block;
    color: #777;
  }
}
