<main id="content" role="main">
  <!-- FAQ Topics Section -->
  <div class="container u-space-3">
    <div class="row">
      <div id="stickyBlockStartPoint" class="col-lg-3 mb-9 mb-lg-0">
        <!-- Nav -->
        <nav class="js-sticky-block bg-primary shadow-primary-sm rounded"
              data-controller="sticky-block"
              data-has-sticky-header="true"
              data-offset-target="#logoAndNav"
              data-sticky-view="lg"
              data-start-point="#stickyBlockStartPoint"
              data-end-point="#stickyBlockEndPoint"
              data-offset-top="24"
              data-offset-bottom="24">
          <ul id="scrollNav" class="list-unstyled u-list u-list--white py-3 px-5">
            <li class="py-2">
              <a class="d-block u-list__link" href="#faq">FAQ</a>
            </li>
            <li class="py-2">
              <a class="d-block u-list__link" href="#advertisers">Advertisers</a>
            </li>
            <li class="py-2">
              <a class="d-block u-list__link" href="#publishers">Publishers</a>
            </li>
          </ul>
        </nav>
        <!-- End Nav -->
      </div>

      <div class="col-lg-9">
        <div id="faq" class="u-space-2-bottom">
          <!-- Title -->
          <div class="mb-3">
            <h3 class="text-primary font-weight-bold">FAQ</h3>
          </div>
          <!-- End Title -->

          <!-- Basics Accordion -->
          <div id="basicsAccordion">
            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="basicsHeadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3"
                          data-toggle="collapse"
                          data-target="#basicsCollapseOne"
                          aria-expanded="true"
                          aria-controls="basicsCollapseOne">
                    Can my revenue be sent to Open Collective?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="basicsCollapseOne" class="collapse show"
                    aria-labelledby="basicsHeadingOne"
                    data-parent="#basicsAccordion">
                <div class="card-body u-card-body">
                  <p>Absolutely! We are happy to submit your revenue each month into your collective.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

          </div>
          <!-- End Basics Accordion -->
        </div>

        <hr class="my-0">

        <div id="advertisers" class="u-space-2">
          <!-- Title -->
          <div class="mb-3">
            <h3 class="text-primary font-weight-bold">Advertisers</h3>
          </div>
          <!-- End Title -->

          <!-- Syncing Accordion -->
          <div id="syncingAccordion">
            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="syncingHeadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3"
                          data-toggle="collapse"
                          data-target="#syncingCollapseOne"
                          aria-expanded="false"
                          aria-controls="syncingCollapseOne">
                    Which publisher websites are available?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="syncingCollapseOne" class="collapse show"
                    aria-labelledby="syncingHeadingOne"
                    data-parent="#syncingAccordion">
                <div class="card-body u-card-body">
                  <p>We have amazing, high-traffic websites like jsbin.com, devhints.io and codesandbox.io, along with many others. Each property is pre-approved based on their impression volume and content. Once you have an advertiser account, you will be able to search and bid on individual websites for maximum ROI.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="syncingHeadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#syncingCollapseTwo"
                          aria-expanded="false"
                          aria-controls="syncingCollapseTwo">
                    What is the minimum monthly ad spend?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="syncingCollapseTwo" class="collapse"
                    aria-labelledby="syncingHeadingTwo"
                    data-parent="#syncingAccordion">
                <div class="card-body u-card-body">
                  <p>In order to get a good sense of the value CodeFund can provide, we ask that all advertisers commit to a minimum of $500 for the first month. Typical advertisers spend between $1,000 to $5,000 per month.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="syncingHeadingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#syncingCollapseThree"
                          aria-expanded="false"
                          aria-controls="syncingCollapseThree">
                    Why would I use you over the other guys?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="syncingCollapseThree" class="collapse"
                    aria-labelledby="syncingHeadingThree"
                    data-parent="#syncingAccordion">
                <div class="card-body u-card-body">
                  <p>Our goal has always been to help sustain open source software through ethical advertising. We do not hide our information and make sure you have all the data you need to make effective decisions for maximum ROI.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Syncing Accordion -->
        </div>

        <hr class="my-0">

        <div id="publishers" class="u-space-2">
          <!-- Title -->
          <div class="mb-3">
            <h3 class="text-primary font-weight-bold">Publishers</h3>
          </div>
          <!-- End Title -->

          <!-- Account Accordion -->
          <div id="accountAccordion">
            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="accountHeadingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn p-3"
                          data-toggle="collapse"
                          data-target="#accountCollapseOne"
                          aria-expanded="false"
                          aria-controls="accountCollapseOne">
                    How much can I make?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="accountCollapseOne" class="collapse show"
                    aria-labelledby="accountHeadingOne"
                    data-parent="#accountAccordion">
                <div class="card-body u-card-body">
                  <p>The earnings vary based on the website and advertisers willing to spend money on it. Typically we see around a $3.50 CPM (cost per 1,000 impressions). Average earnings per 1,000 impressions is around $1.75 but can fluctuate based on advertiser demand.</p>
                  <p>For example, a moderately popular website with 500,000 ad impressions per month at a $3.50 CPM would generate anywhere between $875 and $1,200/month.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="accountHeadingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#accountCollapseTwo"
                          aria-expanded="false"
                          aria-controls="accountCollapseTwo">
                    How often am I paid?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="accountCollapseTwo" class="collapse"
                    aria-labelledby="accountHeadingTwo"
                    data-parent="#accountAccordion">
                <div class="card-body u-card-body">
                  <p>We pay the publishers by the 20th of the following month the ad impressions generated the month prior. Currently we only support payments via PayPal and JustWorks (for US residents). US tax laws apply.</p>
                  <p>Payments are made once the publisher has accrued $20 of distributions. We also provide the option to be paid without a minimum amount via ETH or DAI crypto-currencies.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card mb-3">
              <div class="card-header u-card-header" id="accountHeadingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block d-flex justify-content-between u-card-btn collapsed p-3"
                          data-toggle="collapse"
                          data-target="#accountCollapseThree"
                          aria-expanded="false"
                          aria-controls="accountCollapseThree">
                    How do I get started?

                    <span class="u-card-btn__arrow">
                      <span class="fa fa-arrow-down small"></span>
                    </span>
                  </button>
                </h5>
              </div>
              <div id="accountCollapseThree" class="collapse"
                    aria-labelledby="accountHeadingThree"
                    data-parent="#accountAccordion">
                <div class="card-body u-card-body">
                  Getting started is very easy. Just <%= link_to "fill out this form", home_publishers_path %> to submit your website. If your site fits our criteria, you will receive an invitation to register. Remember, our advertisers are wanting to reach software developers. Documentation websites, blogs and online applications tend to work the best.
                </div>
              </div>
            </div>
            <!-- End Card -->

          </div>
          <!-- End Privacy Accordion -->
        </div>
      </div>
    </div>
  </div>
  <!-- End FAQ Topics Section -->

  <!-- Sticky Block End Point -->
  <div id="stickyBlockEndPoint"></div>

  <hr class="my-0">

  <!-- Contacts Section -->
  <div class="container">
    <div class="row u-space-2">
      <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0">
        <!-- Contacts Info -->
        <div class="media pr-lg-9">
          <div class="d-flex pr-4">
            <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
              <span class="fa fa-envelope u-icon__inner"></span>
            </span>
          </div>

          <div class="media-body">
            <h3 class="h5">Can't find your answer?</h3>
            <p class="mb-1">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can.</p>
            <a class="font-size-14" href="mailto:team@codefund.io">Email us <span class="fa fa-angle-right align-middle ml-2"></span></a>
          </div>
        </div>
        <!-- End Contacts Info -->
      </div>

      <div class="col-lg-6">
        <!-- Contacts Info -->
        <div class="media pl-lg-9">
          <div class="d-flex pr-4">
            <span class="u-icon u-icon-primary--air u-icon--lg rounded-circle mb-4">
              <span class="fab fa-slack u-icon__inner"></span>
            </span>
          </div>

          <div class="media-body">
            <h3 class="h5">Technical questions</h3>
            <p class="mb-1">Have some technical questions? Hit us on Slack channels <a href="https://gitcoin.co/slack">#codefund</a> or just say hello.</p>
            <p class="mb-1">You can also submit an issue or pull request on our project at <a href="https://github.com/gitcoinco/codefund/issues" target="_blank">GitHub</a>.</p>
          </div>
        </div>
        <!-- End Contacts Info -->
      </div>
    </div>

    <hr class="my-0">
  </div>
  <!-- End Contacts Section -->
</main>
<!-- ========== END MAIN ========== -->
