// default styles for all ads
@charset "utf-8";

#cf[data-template] {
  &[data-theme='dark'],
  &[data-theme='light'] {
    &,
    * {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    a {
      box-shadow: none;
    }

    .cf-impression {
      visibility: hidden;
      width: 0;
      height: 0;
      border-style: none;
    }
  }
}
