<html>
<body style="padding: <%= @template_name == "bottom-bar" ? "0" : "10" %>px; margin: 0px; background-color: <%= @theme_name == "light" ? "#eeeeee" : "#263238" %>;
             background-image: url(<%= asset_path("pie-factory.svg") %>);">
<%= @preview_html.html_safe %>
</body>
</html>