<div id="logoAndNav" class="container">
  <!-- Nav -->
  <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar hs-menu-initialized hs-menu-horizontal">
    <!-- Logo -->
    <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="/" aria-label="CodeFund">
      <%= image_tag "codefund-w.svg", alt: "CodeFund" %>
    </a>
    <!-- End Logo -->

    <!-- Responsive Toggle Button -->
    <button type="button" class="navbar-toggler btn u-hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
      <span id="hamburgerTrigger" class="u-hamburger__box">
        <span class="u-hamburger__inner"></span>
      </span>
    </button>
    <!-- End Responsive Toggle Button -->

    <!-- Navigation -->
    <div id="navBar" class="collapse navbar-collapse py-0">
      <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
        <li class="nav-item"><%= link_to "Properties", properties_path, class: "nav-link u-header__nav-link" %></li>
        <li class="nav-item"><%= link_to "Campaigns", campaigns_path, class: "nav-link u-header__nav-link" %></li>
        <li class="nav-item"><%= link_to "Users", users_path, class: "nav-link u-header__nav-link" %></li>
      </ul>
    </div>
    <!-- End Navigation -->
  </nav>
  <!-- End Nav -->
</div>
