<h1>
  <%= action %>
  <span class="text-success opacity-50 font-weight-light"><%= subject.upcase %></span>
</h1>
<% if local_assigns[:subtitle] %>
  <h5 class="opacity-50"><%= subtitle %></h5>
<% end %>
