<!-- Topbar -->
<div class="container u-header__hide-content pt-2">
  <div class="d-flex align-items-center">
    <!-- Grow Open Source Network -->
    <div class="position-relative">
      <a id="growOpenSourceDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
          aria-controls="growOpenSourceDropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-unfold-event="hover"
          data-unfold-target="#growOpenSourceDropdown"
          data-unfold-type="css-animation"
          data-unfold-duration="300"
          data-unfold-delay="300"
          data-unfold-hide-on-scroll="true"
          data-unfold-animation-in="slideInUp"
          data-unfold-animation-out="fadeOut">
        <span class="d-inline-block d-sm-none">Network</span>
        <span class="d-none d-sm-inline-block">Grow Open Source</span>
      </a>

      <div id="growOpenSourceDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="growOpenSourceDropdownInvoker">
        <a class="dropdown-item active" href="https://codefund.io">CodeFund</a>
        <a class="dropdown-item" href="https://gitcoin.co">Gitcoin</a>
        <a class="dropdown-item" href="https://gitcoin.co/kudos">Kudos</a>
        <a class="dropdown-item" href="https://gitcoin.co/grants">Grants</a>
      </div>
    </div>
    <!-- End Language -->

    <div class="ml-auto">
      <!-- Jump To -->
      <div class="d-inline-block d-sm-none position-relative mr-2">
        <a id="jumpToDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
            aria-controls="jumpToDropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-unfold-event="hover"
            data-unfold-target="#jumpToDropdown"
            data-unfold-type="css-animation"
            data-unfold-duration="300"
            data-unfold-delay="300"
            data-unfold-hide-on-scroll="true"
            data-unfold-animation-in="slideInUp"
            data-unfold-animation-out="fadeOut">
          Jump to
        </a>

        <div id="jumpToDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="jumpToDropdownInvoker">
          <%= link_to "Help", home_help_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="../../html/pages/contacts-agency.html">Contacts</a>
        </div>
      </div>
      <!-- End Jump To -->

      <!-- Links -->
      <div class="d-none d-sm-inline-block ml-sm-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <a class="u-header__navbar-link" href="https://twitter.com/codefundio">Twitter</a>
          </li>
          <li class="list-inline-item mr-0">
            <%= link_to "Help", home_help_path, class: "u-header__navbar-link" %>
          </li>
          <li class="list-inline-item mr-0">
            <a class="u-header__navbar-link" href="https://github.com/gitcoinco/code_fund_ads">Code</a>
          </li>
        </ul>
      </div>
      <!-- End Links -->
    </div>
  </div>
</div>
<!-- End Topbar -->



