<!-- Topbar -->
<div class="container u-header__hide-content pt-2">
  <div class="d-flex align-items-center mb-0">
    <!-- Language -->
    <div class="position-relative">
      <a id="languageDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="languageDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#languageDropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
        <span class="d-inline-block d-sm-none">Funding Network</span>
        <span class="d-none d-sm-inline-block">Funding Network</span>
        <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
      </a>

      <div id="languageDropdown" class="u-unfold mt-2" aria-labelledby="languageDropdownInvoker">
        <a class="u-list__link" href="https://gitcoin.co">Gitcoin</a>
        <a class="u-list__link" href="https://opencollective.com">Open Collective</a>
        <a class="u-list__link" href="mailto:team@codefund.io?subject=I want to join the funding network">Join the Network</a>
      </div>
    </div>
    <!-- End Language -->

    <div class="ml-auto">
      <!-- Jump To -->
      <div class="d-inline-block d-sm-none position-relative mr-2">
        <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button" aria-controls="jumpToDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#jumpToDropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
          Jump to
          <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
        </a>

        <div id="jumpToDropdown" class="u-unfold mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="jumpToDropdownInvoker" style="animation-duration: 300ms;">
          <a class="u-list__link" href="help.html">Help</a>
          <a class="u-list__link" href="contacts-agency.html">Contacts</a>
        </div>
      </div>
      <!-- End Jump To -->

      <!-- Links -->
      <div class="d-none d-sm-inline-block ml-sm-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <a class="u-header__topbar-nav-link" href="help.html">Help</a>
          </li>
          <li class="list-inline-item mr-0">
            <a class="u-header__topbar-nav-link" href="contacts-agency.html">Contacts</a>
          </li>
        </ul>
      </div>
      <!-- End Links -->
    </div>

      <!-- Account Login -->
      <li class="list-inline-item">
        <!-- Account Sidebar Toggle Button -->
        <span class="btn btn-xs u-btn-text-secondary u-sidebar--account__toggle-bg ml-1 target-of-invoker-has-unfolds">
          <span class="position-relative">
            <span class="u-sidebar--account__toggle-text"><%= current_user.name %></span>
            <%= image_tag current_user.gravatar_url, class: "u-sidebar--account__toggle-img" %>
            <span class="u-badge u-badge-success u-badge-pos rounded-circle">3</span>
          </span>
        </span>
        <!-- End Account Sidebar Toggle Button -->
      </li>
      <!-- End Account Login -->
    </ul>
  </div>
</div>
<!-- End Topbar -->