
<!-- Topbar -->
<div class="container u-header__hide-content pt-2">
  <div class="d-flex align-items-center">
    <!-- Language -->
    <div class="position-relative">
      <a id="languageDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
          aria-controls="languageDropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-unfold-event="hover"
          data-unfold-target="#languageDropdown"
          data-unfold-type="css-animation"
          data-unfold-duration="300"
          data-unfold-delay="300"
          data-unfold-hide-on-scroll="true"
          data-unfold-animation-in="slideInUp"
          data-unfold-animation-out="fadeOut">
          <img class="dropdown-item-icon" src="../../assets/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
        <span class="d-inline-block d-sm-none">US</span>
        <span class="d-none d-sm-inline-block">United States</span>
      </a>

      <div id="languageDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="languageDropdownInvoker">
        <a class="dropdown-item active" href="#">English</a>
        <a class="dropdown-item" href="#">Deutsch</a>
        <a class="dropdown-item" href="#">Español‎</a>
      </div>
    </div>
    <!-- End Language -->

    <div class="ml-auto">
      <!-- Jump To -->
      <div class="d-inline-block d-sm-none position-relative mr-2">
        <a id="jumpToDropdownInvoker" class="dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;" role="button"
            aria-controls="jumpToDropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-unfold-event="hover"
            data-unfold-target="#jumpToDropdown"
            data-unfold-type="css-animation"
            data-unfold-duration="300"
            data-unfold-delay="300"
            data-unfold-hide-on-scroll="true"
            data-unfold-animation-in="slideInUp"
            data-unfold-animation-out="fadeOut">
          Jump to
        </a>

        <div id="jumpToDropdown" class="dropdown-menu dropdown-unfold" aria-labelledby="jumpToDropdownInvoker">
          <a class="dropdown-item" href="https://codefund.groovehq.com/help_center" target="_blank">Help</a>
          <%= link_to "Contact", contact_path, class: "dropdown-item" %>
        </div>
      </div>
      <!-- End Jump To -->

      <!-- Links -->
      <div class="d-none d-sm-inline-block ml-sm-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0">
            <a class="u-header__navbar-link" href="https://codefund.groovehq.com/help_center" target="_blank">Help</a>
          </li>
          <li class="list-inline-item mr-0">
            <%= link_to "Contact", contact_path, class: "u-header__navbar-link" %>
          </li>
        </ul>
      </div>
      <!-- End Links -->
    </div>

    <ul class="list-inline ml-2 mb-0">
      <!-- Search -->
      <li class="list-inline-item">
        <a class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="searchPushTop"
                data-unfold-type="jquery-slide"
                data-unfold-target="#searchPushTop">
          <span class="fas fa-search btn-icon__inner"></span>
        </a>
      </li>
      <!-- End Search -->

      <% if current_user %>
      <!-- Account Login -->
      <li class="list-inline-item">
        <!-- Account Sidebar Toggle Button -->
        <a id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1" href="javascript:;" role="button"
            aria-controls="sidebarContent"
            aria-haspopup="true"
            aria-expanded="false"
            data-unfold-event="click"
            data-unfold-hide-on-scroll="false"
            data-unfold-target="#sidebarContent"
            data-unfold-type="css-animation"
            data-unfold-animation-in="fadeInRight"
            data-unfold-animation-out="fadeOutRight"
            data-unfold-duration="500">
          <span class="position-relative">
            <span class="u-sidebar--account__toggle-text"><%= current_user.full_name %></span>
            <%= image_tag current_user.avatar.attached? ? current_user.avatar : current_user.gravatar_url, class: "u-sidebar--account__toggle-img", alt: current_user.full_name %>
          </span>
        </a>
        <!-- End Account Sidebar Toggle Button -->
      </li>
      <!-- End Account Login -->
      <% end %>
    </ul>
  </div>
</div>
<!-- End Topbar -->