<% content_for :actions do %>
  <ul class="nav flex-nowrap flex-shrink-1 my-auto">
    <li><%= render "/shared/date_range_picker" %></li>
    <li class="ml-1" title="Edit Campaign" data-toggle="tooltip" data-placement="bottom">
      <%= render "/shared/actions/edit_campaign", campaign: campaign %>
    </li>
    <li class="ml-1" title="Clone Campaign" data-toggle="tooltip" data-placement="bottom">
      <%= render "/shared/actions/generic", link: new_campaign_path(clone: campaign.id), icon: "fa fa-copy" %>
    </li>
  </ul>
<% end %>
