<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <div class="d-flex justify-content-between">
          <h1 class="page-title">Campaigns</h1>
          <div class="btn-toolbar">
            <%= link_to "Add campaign", new_campaign_path, class: "btn btn-primary" %>
          </div>
        </div>
      </header>
      <%= render "/campaigns/list", campaigns: @campaigns, pagy: @pagy %>
    </div>
  </div>
</div>
