<section class="container mt-4">
  <header class="page-title-bar">
    <%= page_heading "Viewing", "Campaigns",
      subtitle: "#{pluralize(@pagy.count, "record")} found",
      icon: "fas fa-ad" %>
  </header>

  <%= render partial: "/campaign_searches/form",
            layout: "/shared/collapsible_search_form",
            locals: { search: @campaign_search } %>
  <article class="bg-white p-4 mb-4">
    <%= render "/campaigns/table", campaigns: @campaigns, pagy: @pagy %>
  </article>
</section>
