<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <h4 class="h5 mb-3">
    Embed Instructions
    <small class="text-muted d-block">Paste the following code snippet into your web application</small>
  </h4>

  <div class="js-focus-state input-group mb-2">
    <textarea rows="3" id="embedCode" class="form-control"><div id="codefund"><!-- fallback content --></div>
<%= javascript_include_tag(advertisements_url(@property.id, format: :js), async: true) %></textarea>
    <div class="input-group-append">
      <a class="js-clipboard input-group-text" href="javascript:;"
        data-controller="copy-to-clipboard"
        data-content-target="#embedCode"
        data-class-change-target="#embedIcon"
        data-default-class="fas fa-clone"
        data-success-class="fas fa-check">
        <span id="embedIcon" class="fas fa-clone"></span>
      </a>
    </div>
  </div>
<% end %>