<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">

  <!-- Hero Section -->
  <div id="SVGwave1BottomSMShape" class="svg-preloader space-top-2 position-relative bg-light overflow-hidden">
    <div class="container space-3">
      <div class="w-md-80 w-lg-60 text-center mx-auto">
        <h1 class="display-4 font-size-md-down-5">Meet <span class="font-weight-semi-bold text-success">CodeFund</span></h1>
        <p class="lead">We have a combined 35+ years of developer experience</p>
      </div>
    </div>

    <!-- SVG Background -->
    <figure class="position-absolute right-0 bottom-0 left-0">
      <%= image_tag "svg/components/wave-1-bottom-sm.svg", class: "js-svg-injector", data: { parent: "#SVGwave1BottomSMShape" } %>
    </figure>
    <!-- End SVG Background Section -->
  </div>
  <!-- End Hero Section -->

  <!-- Team Section -->
  <div class="container space-2">
    <!-- Slick Carousel -->
    <div class="js-slick-carousel u-slick u-slick--gutters-3"
        data-slides-show="2"
        data-slides-scroll="1"
        data-responsive='[{
          "breakpoint": 992,
          "settings": {
            "slidesToShow": 1
          }
        }, {
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 1
          }
        }, {
          "breakpoint": 554,
          "settings": {
            "slidesToShow": 1
          }
        }]'>
      <div class="js-slide px-3">
        <!-- Team -->
        <div class="row">
          <div class="col-sm-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
            <div class="w-100">
              <h3 class="h5 mb-4">Eric Berry</h3>
            </div>
            <div class="d-inline-block">
              <span class="badge badge-primary badge-pill badge-bigger mb-3">#bizdev</span>
              <span class="badge badge-primary badge-pill badge-bigger mb-3">#growth</span>
            </div>
            <p class="font-size-1">I am passionate about finding ways to make open source more sustainable.</p>

            <!-- Social Networks -->
            <ul class="list-inline mt-auto mb-0">
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary" href="https://github.com/coderberry">
                  <span class="fab fa-github btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary" href="https://www.instagram.com/coderberry">
                  <span class="fab fa-instagram btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary" href="https://twitter.com/coderberry">
                  <span class="fab fa-twitter btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <div class="col-sm-6">
            <img class="img-fluid rounded mx-auto" src="https://avatars3.githubusercontent.com/u/12481?s=460&v=4" alt="Image Description">
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="js-slide px-3">
        <!-- Team -->
        <div class="row">
          <div class="col-sm-6 d-sm-flex align-content-sm-start flex-sm-column text-center text-sm-left mb-7 mb-sm-0">
            <div class="w-100">
              <h3 class="h5 mb-4">Nathan Hopkins</h3>
            </div>
            <div class="d-inline-block">
              <span class="badge badge-primary badge-pill badge-bigger mb-3">#ruby</span>
              <span class="badge badge-primary badge-pill badge-bigger mb-3">#bizdev</span>
            </div>
            <p class="font-size-1"><%# TODO - Nate%></p>

            <!-- Social Networks -->
            <ul class="list-inline mt-auto mb-0">
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary" href="https://github.com/hopsoft">
                  <span class="fab fa-github btn-icon__inner"></span>
                </a>
              </li>
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary" href="https://www.instagram.com/hopsoft/">
                  <span class="fab fa-twitter btn-icon__inner"></span>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
          <div class="col-sm-6">
            <img class="img-fluid rounded mx-auto" src="https://avatars1.githubusercontent.com/u/32920?s=460&v=4" alt="Nathan Hopkins">
          </div>
        </div>
        <!-- End Team -->
      </div>
    </div>
    <!-- End Slick Carousel -->
  </div>
  <!-- End Team Section -->

  <!-- CTA Section -->
  <div class="bg-primary text-white text-center mt-9">
    <div class="container space-1">
      <span class="h6 d-block d-lg-inline-block font-weight-light mb-lg-0">
        <span class="font-weight-semi-bold">Want to help?</span> Check out our open issues on our GitHub project
      </span>
      <a class="btn btn-sm btn-white transition-3d-hover font-weight-normal ml-2" href="https://github.com/gitcoinco/code_fund_ads">View Code</a>
    </div>
  </div>
  <!-- End CTA Section -->

</div>
<!-- ========== END MAIN CONTENT ========== -->
