<section class="position-relative bg-faded-primary pt-7 pb-5 pb-md-6 pb-lg-7 overflow-hidden">
  <div class="cs-shape cs-shape-bottom cs-shape-curve bg-body">
    <svg viewbox="0 0 3000 185.4"
          xmlns="http://www.w3.org/2000/svg">
    <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"
          fill="currentColor"></path></svg>
  </div>
  <div class="container pt-4 pt-md-5 pt-lg-0">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center text-lg-left">
        <h1 class="mb-3">New way to work with your team!</h1>
        <p class="font-size-lg text-muted mb-4">Collaboration on the project is fast and easy with our task management app.</p>
        <form class="d-flex pt-4 mx-auto mx-lg-0"
              style="max-width: 460px;">
          <input class="form-control mr-3"
                placeholder="Type your email..."
                required=""
                type="email"> <button class="btn btn-success"
                type="submit">Start free trial</button>
        </form>
      </div>
      <div class="col-xl-7 col-lg-8 offset-xl-1 pt-lg-3">
        <div class="cs-carousel bg-size-cover mx-auto pt-6 pb-2"
              style="max-width: 705px; background-image: url(img/demo/software-landing/slider/shape.png);">
          <div class="position-relative">
            <div class="cs-frame-browser-label">
              <div class="cs-carousel-label">
                <span>Account Management</span>
              </div>
            </div>
            <div class="cs-frame-browser-body">
              <div class="tns-outer"
                    id="tns1-ow">
                <div aria-atomic="true"
                      aria-live="polite"
                      class="tns-liveregion tns-visually-hidden">
                  slide <span class="current">2</span> of 3
                </div>
                <div class="tns-inner"
                      id="tns1-iw">
                  <div class="cs-carousel-inner tns-slider tns-gallery tns-subpixel tns-calc tns-horizontal"
                        data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;controls&quot;: false, &quot;nav&quot;: false, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 6000}"
                        id="tns1">
                    <div aria-hidden="true"
                          class="tns-item tns-normal"
                          data-carousel-label="&lt;i class=&quot;fe-calendar&quot;&gt;&lt;/i&gt;&lt;span&gt;Team Scheduling&lt;/span&gt;"
                          id="tns1-item0"
                          style=""
                          tabindex="-1"><img alt="Screenshot"
                          class="rounded"
                          src="img/demo/software-landing/slider/slide01.png"></div>
                    <div class="tns-item tns-slide-active tns-fadeIn"
                          data-carousel-label="&lt;i class=&quot;fe-user&quot;&gt;&lt;/i&gt;&lt;span&gt;Account Management&lt;/span&gt;"
                          id="tns1-item1"
                          style="left: 0%;"><img alt="Screenshot"
                          class="rounded"
                          src="img/demo/software-landing/slider/slide02.png"></div>
                    <div aria-hidden="true"
                          class="tns-item tns-normal"
                          data-carousel-label="&lt;i class=&quot;fe-mail&quot;&gt;&lt;/i&gt;&lt;span&gt;Built-in Messages&lt;/span&gt;"
                          id="tns1-item2"
                          style=""
                          tabindex="-1"><img alt="Screenshot"
                          class="rounded"
                          src="img/demo/software-landing/slider/slide03.png"></div>
                    <div aria-hidden="true"
                          class="tns-item tns-normal"
                          data-carousel-label="&lt;i class=&quot;fe-calendar&quot;&gt;&lt;/i&gt;&lt;span&gt;Team Scheduling&lt;/span&gt;"
                          style=""
                          tabindex="-1"><img alt="Screenshot"
                          class="rounded"
                          src="img/demo/software-landing/slider/slide01.png"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cs-carousel-pager pt-4 text-nowrap text-center mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
