<header class="page-title-bar">
  <div class="d-flex justify-content-between">
    <h1 class="page-title"> Organizations </h1>
    <div class="btn-toolbar">
      <button type="button" class="btn btn-primary">Add organization</button>
    </div>
  </div>
</header>
