<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="row">
    <div class="col-md-6">
      <h3 class="h5 mb-3">
        Keywords
        <small class="text-muted d-block">Keywords and negative keywords for property matching</small>
      </h3>
      <% @campaign.keywords.sort.each do |keyword| %>
        <span class="btn btn-xs btn-soft-primary mb-2"><%= keyword %></span>
      <% end %>
      <% @campaign.negative_keywords.sort.each do |keyword| %>
        <span class="btn btn-xs btn-soft-dark mb-2"><%= keyword %></span>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3 class="h5 mb-3">
        Countries
        <small class="text-muted d-block">Targeted Countries</small>
      </h3>
      <% @campaign.countries.each do |country| %>
        <span class="btn btn-xs btn-soft-success mb-2"><%= country.name %></span>
      <% end %>
    </div>
  </div>
<% end %>
