<!-- STATS
================================================== -->
<section class="pt-8 pt-md-12 pb-10 pb-md-14 pb-lg-15">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6">
        <!-- Image -->
        <div class="img-skewed img-skewed-right mb-10 mb-md-0">
          <img src="/landkit/img/screenshots/ui/dashkit-layered.png" alt="..." class="img-fluid" data-aos="img-skewed-item-right">
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <!-- Heading -->
        <h2>
          Reach your target audience<br>
          <span class="text-primary">without creepy targeting</span>
        </h2>
        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          CodeFund provides ethical targeting via geolocation, context of the website, language, and even time of day!
        </p>
        <!-- Stats -->
        <div class="d-flex">
          <div class="pr-5 text-center">
            <h3 class="mb-0">
              <span id="global-properties-count" data-toggle="countup" data-from="0" data-to="<%= property_count %>" data-aos data-aos-id="countup:in">0</span>
            </h3>
            <p class="text-gray-700 mb-0">
              Active Properties
            </p>
          </div>
          <div class="border-left border-gray-300"></div>
          <div class="px-5 text-center">
            <h3 class="mb-0">
              <span id="global-click-rate" data-toggle="countup" data-from="0.0" data-to="<%= click_rate %>" data-decimals="3" data-aos data-aos-id="countup:in">0</span>%
            </h3>
            <p class="text-gray-700 mb-0">
              Average Click Rate
            </p>
          </div>
          <div class="border-left border-gray-300"></div>
          <div class="pl-5 text-center">
            <h3 class="mb-0">
              <span id="global-impressions-count" data-toggle="countup" data-from="0" data-to="<%= impressions_count %>" data-aos data-aos-id="countup:in">0</span>
            </h3>
            <p class="text-gray-700 mb-0">
              Ad Impressions since <%= from_date %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
