<% cache_if @campaign.persisted?, @campaign do %>
  <div id="cf">
    <span>
      <span class="cf-wrapper">
        <a data-href="campaign_url" class="cf-img-wrapper" target="_blank" rel="noopener">
          <%= image_tag @campaign.creative.large_image.cloudfront_url, border: 0, height: 100, width: 130, class: "cf-img" rescue nil %>
        </a>
        <a data-href="campaign_url" class="cf-text" target="_blank" rel="noopener">
          <strong><%= @campaign.creative.headline %></strong>
          <span><%= @campaign.creative.body %></span>
        </a>
        <a href="https://codefund.app" class="cf-powered-by" target="_blank" rel="noopener">
          <em>ethical</em> ad by CodeFund
          <img data-src="impression_url">
        </a>
      </span>
    </span>
  </div>
<% end %>
