<footer class="cs-footer bg-dark pt-5 pt-md-6">
  <div class="container pt-3 pt-md-0">
    <div class="row pb-3">
      <div class="col-md-4 mt-n2 pb-3 pb-md-0 mb-4">
        <a class="d-block mb-3"
              href="index.html"
              style="width: 153px;"><img alt="Around"
              src="img/logo/logo-footer-alt.png"></a>
        <p class="font-size-sm text-light opacity-60 pb-2 pb-sm-3">Highly customizable and modular official multipurpose Bootstrap template and UI kit.</p><a class="social-btn sb-outline sb-facebook sb-light sb-lg mr-2 mb-2"
              href="#"></a><a class="social-btn sb-outline sb-twitter sb-light sb-lg mr-2 mb-2"
              href="#"></a><a class="social-btn sb-outline sb-instagram sb-light sb-lg mr-2 mb-2"
              href="#"></a><a class="social-btn sb-outline sb-google sb-light sb-lg mr-2 mb-2"
              href="#"></a>
      </div>
      <div class="col-md-2 col-sm-4 ml-auto pb-1 mb-4">
        <div class="cs-widget cs-widget-light">
          <h4 class="cs-widget-title">Company</h4>
          <ul>
            <li>
              <a class="cs-widget-link"
                  href="#">About</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Careers</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Press</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 pb-1 mb-4">
        <div class="cs-widget cs-widget-light">
          <h4 class="cs-widget-title">Communities</h4>
          <ul>
            <li>
              <a class="cs-widget-link"
                  href="#">For artists</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Developers</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Brands</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Investors</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
        <div class="cs-widget cs-widget-light">
          <h4 class="cs-widget-title">Our news</h4>
          <ul>
            <li>
              <a class="cs-widget-link"
                  href="#">Latest news</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Updates</a>
            </li>
            <li>
              <a class="cs-widget-link"
                  href="#">Campaigns</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="border-light">
    <div class="row align-items-center my-3 pt-4">
      <div class="col-md-6 order-md-2 text-md-right mb-3">
        <ul class="list-inline font-size-sm mb-0">
          <li class="list-inline-item">
            <a class="nav-link-style nav-link-light"
                href="#">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link-style nav-link-light"
                href="#">Contacts</a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link-style nav-link-light"
                href="#">Terms &amp; Conditions</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 order-md-1 mb-3">
        <p class="font-size-sm mb-0"><span class="text-light opacity-50 mr-1">© All rights reserved. Made by</span><a class="nav-link-style nav-link-light"
            href="https://createx.studio/"
            rel="noopener"
            target="_blank">Createx Studio</a></p>
      </div>
    </div>
  </div>
</footer>
