<header class="cs-header navbar navbar-expand-lg navbar-light navbar-floating navbar-sticky"
        data-scroll-header="">
  <div class="container px-0 px-xl-3">
    <a class="navbar-brand order-lg-1 mx-auto ml-lg-0 pr-lg-2 mr-lg-4"
          href="index.html"><img alt="Around"
          class="d-none d-lg-block"
          src="img/logo/logo-dark.png"
          width="153"><img alt="Around"
          class="d-lg-none"
          src="img/logo/logo-icon.png"
          width="58"></a>
    <div class="d-flex align-items-center order-lg-3 ml-lg-auto">
      <a class="nav-link-style font-size-sm text-nowrap"
            data-toggle="modal"
            data-view="#modal-signin-view"
            href="#modal-signin">Sign in</a><a class="btn btn-primary ml-grid-gutter d-none d-lg-inline-block"
            data-toggle="modal"
            data-view="#modal-signup-view"
            href="#modal-signin">Sign up</a>
    </div>
    <div class="cs-offcanvas-collapse order-lg-2"
          id="primaryMenu">
      <div class="cs-offcanvas-cap navbar-box-shadow">
        <h5 class="mt-1 mb-0">Menu</h5><button class="close lead"
              data-offcanvas-id="primaryMenu"
              data-toggle="offcanvas"
              type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="cs-offcanvas-body">
        <!-- Menu-->
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropdown-mega active">
            <a class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#">Demos</a>
            <div class="dropdown-menu">
              <a class="dropdown-column dropdown-column-img bg-secondary"
                    href="index.html"
                    style="background-image: url(img/demo/menu-banner.jpg);"></a>
              <div class="dropdown-column">
                <a class="dropdown-item"
                      href="index.html">Web Template Presentation</a><a class="dropdown-item"
                      href="demo-business-consulting.html">Business Consulting</a><a class="dropdown-item"
                      href="demo-shop-homepage.html">Shop Homepage</a><a class="dropdown-item"
                      href="demo-booking-directory.html">Booking / Directory</a><a class="dropdown-item"
                      href="demo-creative-agency.html">Creative Agency</a><a class="dropdown-item"
                      href="demo-web-studio.html">Web Studio</a><a class="dropdown-item"
                      href="demo-product-software.html">Product Landing - Software</a>
              </div>
              <div class="dropdown-column">
                <a class="dropdown-item"
                      href="demo-product-gadget.html">Product Landing - Gadget</a><a class="dropdown-item"
                      href="demo-mobile-app.html">Mobile App Showcase</a><a class="dropdown-item"
                      href="demo-coworking-space.html">Coworking Space</a><a class="dropdown-item"
                      href="demo-event-landing.html">Event Landing</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega">
            <a class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#">Templates</a>
            <div class="dropdown-menu">
              <div class="dropdown-column mb-2 mb-lg-0">
                <h5 class="dropdown-header">Blog</h5><a class="dropdown-item"
                      href="blog-grid-rs.html">Grid Right Sidebar</a><a class="dropdown-item"
                      href="blog-grid-ls.html">Grid Left Sidebar</a><a class="dropdown-item"
                      href="blog-grid-ns.html">Grid No Sidebar</a><a class="dropdown-item"
                      href="blog-list-rs.html">List Right Sidebar</a><a class="dropdown-item"
                      href="blog-list-ls.html">List Left Sidebar</a><a class="dropdown-item"
                      href="blog-list-ns.html">List No Sidebar</a><a class="dropdown-item"
                      href="blog-single-rs.html">Single Post Right Sidebar</a><a class="dropdown-item"
                      href="blog-single-ls.html">Single Post Left Sidebar</a><a class="dropdown-item"
                      href="blog-single-ns.html">Single Post No Sidebar</a>
              </div>
              <div class="dropdown-column mb-2 mb-lg-0">
                <h5 class="dropdown-header">Portfolio</h5><a class="dropdown-item"
                      href="portfolio-style-1.html">Grid Style 1</a><a class="dropdown-item"
                      href="portfolio-style-2.html">Grid Style 2</a><a class="dropdown-item"
                      href="portfolio-style-3.html">Grid Style 3</a><a class="dropdown-item"
                      href="portfolio-single-side-gallery-grid.html">Project Side Gallery (Grid)</a><a class="dropdown-item"
                      href="portfolio-single-side-gallery-list.html">Project Side Gallery (List)</a><a class="dropdown-item"
                      href="portfolio-single-carousel.html">Project Carousel</a><a class="dropdown-item"
                      href="portfolio-single-wide-gallery.html">Project Wide Gallery</a>
              </div>
              <div class="dropdown-column mb-2 mb-lg-0">
                <h5 class="dropdown-header">Shop</h5><a class="dropdown-item"
                      href="shop-ls.html">Grid Left Sidebar</a><a class="dropdown-item"
                      href="shop-rs.html">Grid Right Sidebar</a><a class="dropdown-item"
                      href="shop-ns.html">Grid No Sidebar</a><a class="dropdown-item"
                      href="shop-single.html">Single Product</a><a class="dropdown-item"
                      href="checkout.html">Cart &amp; Checkout</a><a class="dropdown-item"
                      href="order-tracking.html">Order Tracking</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#">Account</a>
            <ul class="dropdown-menu">
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Dashboard</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-orders.html">Orders</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-sales.html">Sales</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-messages.html">Messages</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-followers.html">Followers</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-reviews.html">Reviews</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="dashboard-favorites.html">Favorites</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Account Settings</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="account-profile.html">Profile Info</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="account-payment.html">Payment Methods</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="account-notifications.html">Notifications</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item"
                    href="signin-illustration.html">Sign In - Illustration</a>
              </li>
              <li>
                <a class="dropdown-item"
                    href="signin-image.html">Sign In - Image</a>
              </li>
              <li>
                <a class="dropdown-item"
                    href="signin-signup.html">Sign In - Sign Up</a>
              </li>
              <li>
                <a class="dropdown-item"
                    href="password-recovery.html">Password Recovery</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#">Pages</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item"
                    href="about.html">About</a>
              </li>
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Contacts</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="contacts-v1.html">Contacts v.1</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="contacts-v2.html">Contacts v.2</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="contacts-v3.html">Contacts v.3</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Help Center</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="help-topics.html">Help Topics</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="help-single-topic.html">Single Topic</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="help-submit-request.html">Submit a Request</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">404 Not Found</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="404-simple.html">Simple Text</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="404-illustration.html">Illustration</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-item dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">Coming Soon</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item"
                        href="coming-soon-image.html">Image</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                        href="coming-soon-illustration.html">Illustration</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#">Docs / UI Kit</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item"
                    href="docs/dev-setup.html">
                <div class="d-flex align-items-center">
                  <div class="font-size-xl text-muted"></div>
                  <div class="pl-3">
                    <span class="d-block text-heading">Documentation</span><small class="d-block text-muted">Kick-start customization</small>
                  </div>
                </div></a>
              </li>
              <li>
                <a class="dropdown-item"
                    href="components/typography.html">
                <div class="d-flex align-items-center">
                  <div class="font-size-xl text-muted"></div>
                  <div class="pl-3">
                    <span class="d-block text-heading">UI Kit<span class="badge badge-danger ml-2">50+</span></span><small class="d-block text-muted">Flexible components</small>
                  </div>
                </div></a>
              </li>
              <li>
                <a class="dropdown-item"
                    href="mailto:contact@createx.studio">
                <div class="d-flex align-items-center">
                  <div class="font-size-xl text-muted"></div>
                  <div class="pl-3">
                    <span class="d-block text-heading">Support</span><small class="d-block text-muted">contact@createx.studio</small>
                  </div>
                </div></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
