<% cache_if @campaign.persisted? && @creative.persisted?, [@campaign, @creative] do %>
  <ins id="cf">
    <span class="cf-wrapper">
      Sponsored:&nbsp;
      <%= image_tag @creative.icon_image.cloudfront_url, height: 20, width: 20, class: "cf-img", style: "width: 20px; height: 20px;", alt: @creative.name rescue nil %>
      <b><%= @creative.headline %></b>
      <%= @creative.body %>
      <a href="#" data-href="campaign_url" rel="sponsored noopener" target="_blank">
        <b><%= @creative.cta || "Learn more" %></b>
      </a>
    </span>
    <sup>
      <a
        href="https://codefund.io"
        data-target="powered_by_url"
        class="cf-powered-by"
        target="_blank"
        rel="sponsored noopener"
        title="Ethical ads by CodeFund"
      >
        <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="info-circle-light" fill="#aaaaaa" fill-rule="nonzero">
            <path d="M5,0.64516129 C7.39155242,0.64516129 9.35483871,2.58215726 9.35483871,5 C9.35483871,7.40506048 7.40705645,9.35483871 5,9.35483871 C2.5958871,9.35483871 0.64516129,7.40802419 0.64516129,5 C0.64516129,2.59671371 2.59278226,0.64516129 5,0.64516129 Z M5,0 C2.23877016,0 0,2.23957661 0,5 C0,7.76203629 2.23877016,10 5,10 C7.76122984,10 10,7.76203629 10,5 C10,2.23957661 7.76122984,0 5,0 Z M4.27419355,6.93548387 L4.51612903,6.93548387 L4.51612903,4.51612903 L4.27419355,4.51612903 C4.14058468,4.51612903 4.03225806,4.40780242 4.03225806,4.27419355 L4.03225806,4.11290323 C4.03225806,3.97929435 4.14058468,3.87096774 4.27419355,3.87096774 L5.24193548,3.87096774 C5.37554435,3.87096774 5.48387097,3.97929435 5.48387097,4.11290323 L5.48387097,6.93548387 L5.72580645,6.93548387 C5.85941532,6.93548387 5.96774194,7.04381048 5.96774194,7.17741935 L5.96774194,7.33870968 C5.96774194,7.47231855 5.85941532,7.58064516 5.72580645,7.58064516 L4.27419355,7.58064516 C4.14058468,7.58064516 4.03225806,7.47231855 4.03225806,7.33870968 L4.03225806,7.17741935 C4.03225806,7.04381048 4.14058468,6.93548387 4.27419355,6.93548387 Z M5,2.09677419 C4.64368952,2.09677419 4.35483871,2.385625 4.35483871,2.74193548 C4.35483871,3.09824597 4.64368952,3.38709677 5,3.38709677 C5.35631048,3.38709677 5.64516129,3.09824597 5.64516129,2.74193548 C5.64516129,2.385625 5.35631048,2.09677419 5,2.09677419 Z" id="Shape"></path>
          </g>
        </svg>
        <span class="tooltiptext"><em>ethical</em> ad by CodeFund</span>
      </a>
    </sup>
    <img data-src="impression_url" alt="">
  </ins>
<% end %>
