<div class="mb-3">
  <h2 class="h5 mb-0"><%= title %></h2>
  <%= tag.p subtitle, class: "mb-0" if local_assigns[:subtitle] %>
  <%= tag.small help, class: "text-primary opacity-70" if local_assigns[:help] %>
</div>
