<div role="log" class="conversations overflow-auto" style="height:350px;">
  <ul class="conversation-list">
    <%= render partial: "/shared/comment", collection: @comments, as: :comment %>
  </ul>
</div>

<div class="message-publisher bg-light">
  <%= form_tag comments_path, method: :post do %>
    <input type="hidden" name="sgid" value="<%= @commentable.to_sgid %>" />
    <div class="media mb-1">
      <div class="media-body">
        <input type="text" class="form-control shadow-none bg-light border-0" name="body" placeholder="Type a message" required>
      </div>
      <div>
        <button type="submit" class="btn btn-light btn-icon">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
    </div>
  <% end %>
</div>
