<% cache_if @campaign.persisted?, @campaign do %>
  <div id="cf">
    <div class="cf-wrapper">
      <div class="cf-header">Proudly sponsored by</div>
      <a data-href="campaign_url" class="cf-text" target="_blank" rel="noopener">
        <strong><%= @campaign.creative.headline %></strong>
        <span><%= @campaign.creative.body %></span>
      </a>
      <a href="https://codefund.app" class="cf-powered-by" target="_blank" rel="noopener">
        <em>ethical</em> ad by CodeFund
        <img data-src="impression_url">
      </a>
    </div>
  </div>
<% end %>
