<%= tag.li class: classes(
  "menu-item has-child": true,
  "has-open": request.path.start_with?('/creatives')
) do %>
  <a href="#" class="menu-link">
    <span class="menu-icon fad fa-pencil-paintbrush"></span>
    <span class="menu-text">Creatives</span>
  </a>
  <ul class="menu">
    <li class="menu-subhead">Creatives</li>
    <%= active_link_to "Add Creative", new_creative_path, class: "menu-link", tabindex: -1, wrap_tag: :li, wrap_class: "menu-item" %>
    <%= active_link_to "Overview", creatives_path, class: "menu-link", tabindex: -1, wrap_tag: :li, wrap_class: "menu-item" %>
  </ul>
<% end %>
