<%= active_link_to default_dashboard_path(current_user), class: "menu-link", tabindex: -1, wrap_tag: :li, wrap_class: "menu-item" do %>
  <span class="menu-icon fas fa-home"></span>
  <span class="menu-text">Dashboard</span>
<% end %>
