<%= tag.li class: classes(
      "menu-item has-child": true,
      "has-open": ["advertiser_dashboards", "publisher_dashboards"].include?(controller_name)
) do %>
  <a href="#" class="menu-link">
    <span class="menu-icon fad fa-tachometer-fast"></span>
    <span class="menu-text">Dashboards</span>
  </a>
  <ul class="menu">
    <li class="menu-subhead">Dashboards</li>
    <%= active_link_to "Advertiser", advertiser_dashboards_path, class: "menu-link", tabindex: -1,wrap_tag: :li, wrap_class: "menu-item" if authorized_user.can_advertise? %>
    <%= active_link_to "Publisher", publisher_dashboards_path, class: "menu-link", tabindex: -1, wrap_tag: :li, wrap_class: "menu-item" if authorized_user.can_publish? %>
  </ul>
<% end %>
