    <footer class="aside-footer border-top p-3 text-center">
      <a href="#" class="text-dark" style="font-weight: bold;">0.19%</a>
      <span class="text-muted px-1">•</span>
      <a href="#" class="text-dark" style="font-weight: bold;">$2.2K</a>
      <span class="text-muted px-1">•</span>
      <a href="#" class="text-dark" style="font-weight: bold;">1.3M</a>
    </footer>
