<%= tag.li class: classes(
      "menu-item has-child": true,
      "has-open": request.path.start_with?("/imageables")
) do %>
  <a href="#" class="menu-link">
    <span class="menu-icon fad fa-image"></span>
    <span class="menu-text">Images</span>
  </a>
  <ul class="menu">
    <li class="menu-subhead">Images</li>
    <%= active_link_to "Overview", images_path(Current.organization.to_gid_param), class: "menu-link", tabindex: -1,wrap_tag: :li, wrap_class: "menu-item", active: :exact %>
    <%= active_link_to "Upload Images", new_image_path(Current.organization.to_gid_param), class: "menu-link", tabindex: -1,wrap_tag: :li, wrap_class: "menu-item" %>
  </ul>
<% end %>
