<li class="menu-item">
  <%= active_link_to emails_path, class: "menu-link", tabindex: -1, wrap_tag: :li, wrap_class: "menu-item" do %>
    <span class="menu-icon fad fa-inbox"></span>
    <span class="menu-text">Inbox</span>
  <% end %>
</li>
