<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7">
        <%= render partial: "/job_posting_prospects/nav" %>
        <div class="space-top-1">
          <%= render partial: "/job_posting_prospects/form" %>
        </div>
      </div>
    </div>
  </div>
</main>
