<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7 job-listing">
        <%= render partial: "/job_posting_prospects/nav" %>
        <div class="space-top-2">
          <%= render partial: "/job_postings/listing", locals: { job_posting: @job_posting, job_posting_search: nil } %>
          <div class="d-flex">
            <%= link_to "Make Changes", edit_job_posting_prospect_path(@job_posting),
                  class: "btn btn-block btn-sm btn-soft-secondary transition-3d-hover mr-1" %>
            <%= link_to "Next", new_job_posting_purchase_path(@job_posting),
                  class: "btn btn-block btn-sm btn-primary transition-3d-hover ml-1 mt-0" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
