<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="container mx-auto mt-4">
  <div class="mb-3">
    <% @properties.in_groups_of(3) do |property_group| %>
      <div class="card-deck d-block d-md-flex">
        <%= render partial: "/websites/property", collection: property_group.compact %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %></span>
    <%= pagy_entries(@pagy) %>
  </div>
  <!-- End Pagination -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
