<%= card do %>
  <%= card_body do %>
    <div id="nav-send-now" class="tab-pane show active" role="tabpanel" aria-labelledby="nav-send-now-tab">
      <%= render "/organization_reports/form",
          organization: @organization,
          organization_report: @organization_report,
          url: organization_reports_path(@organization) %>
    </div>
  <% end %>
<% end %>
