<%= render layout: "/organizations/show_layout", locals: { organization: @organization } do %>
  <div class="row">
    <div class="col-md-6">
      <nav>
        <div id="nav-tab" class="nav nav-tabs" role="tablist">
          <a id="nav-send-now-tab" class="nav-item nav-link active"
             href="#nav-send-now" role="tab" aria-controls="nav-send-now" aria-selected="true"
             data-toggle="tab">
            Send Now
          </a>
          <a id="nav-schedule-tab" class="nav-item nav-link"
             href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="false"
             data-toggle="tab">
            Schedule
          </a>
        </div>
      </nav>
      <div class="tab-content">
        <div id="nav-send-now" class="tab-pane show active py-3" role="tabpanel" aria-labelledby="nav-send-now-tab">
          <%= render "/organization_reports/form",
              organization: @organization,
              organization_report: @organization_report,
              url: organization_reports_path(@organization) %>
        </div>
        <div id="nav-schedule" class="tab-pane fade py-3" role="tabpanel" aria-labelledby="nav-schedule-tab">
          <%= render "/scheduled_organization_reports/form",
              organization: @organization,
              scheduled_organization_report: @scheduled_organization_report %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= render "/organization_reports/table",
          organization: @organization,
          organization_reports: @organization_reports,
          scheduled_organization_reports: @scheduled_organization_reports,
          pagy: @pagy %>
    </div>
  </div>
<% end %>
