<li class="media u-indicator-vertical-dashed-item">
  <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
    <span class="btn-icon__inner">A</span>
  </span>
  <div class="media-body">
    <h5 class="font-size-1 mb-1"><%= event.user %></h5>
    <p class="small mb-1"><strong><%= event.eventable %></strong><%= simple_format event.body %></p>
    <small class="d-block text-muted"><%= time_ago_in_words event.created_at %> ago</small>
  </div>
</li>