// =========== Color ===========
$tooltip-bg: rgba(0, 0, 0, 0.8) !default;
$primary: #346cb0;
// =========== Breakpoints ===========
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
