<div class="blm-banner">
  <p class="text-lg">
    <a href="https://blacklivesmatter.com" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Black Lives Matter.</a> Support the 
    <a href="https://eji.org/" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Equal Justice Initiative</a> and 
    <a href="https://www.joincampaignzero.org/" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Campaign Zero</a>.
  </p> 
</div>