<div class="card conversation-inbound">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3 id="client-tasks-tab" class="card-title"><%= comment.created_at.localtime.to_s("amdh") %> by <%= comment.user.name %></h3>
      <div class="card-title-control">
        <div class="dropdown">
          <button type="button" class="btn btn-icon btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to comment_path(comment), method: :delete, class: "dropdown-item" do %>
              <i class="far fa-trash mr-2"></i>Delete Comment
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-3 conversation-message">
      <%= comment.content %>
    </div>
  </div>
</div>
