<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-left">Date</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">estimated</span>Spend</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Impressions</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Clicks</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">average</span>CTR</th>
      </tr>
    </thead>
    <tbody>
      <% (@start_date..@end_date).each do |date| %>
        <%= render_async async_campaign_budget_row_path(campaign_id: @campaign.id, date: date.iso8601), html_element_name: "tr" %>
      <% end %>
    </tbody>
  </table>
</div>
