<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-center" style="width: 20%;">Date</th>
        <th class="text-center" style="width: 20%;">Spend</th>
        <th class="text-center" style="width: 20%;">Impressions</th>
        <th class="text-center" style="width: 20%;">Clicks</th>
        <th class="text-center" style="width: 20%;">CTR</th>
      </tr>
    </thead>
    <tbody>
      <% campaign.operative_dates.each do |date| %>
      <tr <%= 'class=border-bottom' if date.saturday? %>>
        <td class="text-right align-middle text-secondary"><%= date.to_s("abdy") %></td>
        <td class="text-center align-middle text-secondary">-</td>
        <td class="text-center align-middle text-secondary">
          <%#= campaign.daily_impressions_count(date) %>
        </td>
        <td class="text-center align-middle text-secondary">
          <%#= campaign.daily_clicks_count(date) %>
        </td>
        <td class="text-center align-middle text-secondary">
          <%#= number_to_percentage campaign.daily_click_rate(date) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
