<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th class="text-center" style="width: 20%;">Date</th>
        <th class="text-center" style="width: 20%;">Spend</th>
        <th class="text-center" style="width: 20%;">Impressions</th>
        <th class="text-center" style="width: 20%;">Clicks</th>
        <th class="text-center" style="width: 20%;">CTR</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/campaign_budgets/tr", collection: campaign.operative_dates, as: :date %>
    </tbody>
  </table>
</div>
