<%= render layout: "/campaigns/show_layout", locals: { campaign: @campaign } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Daily Budget
      <small class="text-muted d-block">Spend and statistics by day</small>
    </h3>
    <%= render "/@shared/date_range_picker" %>
  </div>

  <%= render "/campaign_budgets/table", campaign: @campaign %>
<% end %>