<div class="d-flex">
  <%= render "shared/sidebar" %>
  <div class="container mt-4">
    <header class="page-title-bar">
      <%= page_heading "Viewing", "Users",
        subtitle: "#{pluralize(@pagy.count, "record")} found",
        icon: "fas fa-user-circle" %>
    </header>

    <%= render partial: "/user_searches/form",
              layout: "/shared/collapsible_search_form",
              locals: { search: @user_search } %>
    <div class="bg-white p-4">
      <%= render "/users/table", users: @users, pagy: @pagy %>
    </div>
  </div>
</div>
