<%= render layout: "/shared/layout", locals: {
  subject: @user,
  subtitle: @user.email,
  sidebar: true,
  buttons: [
    layout_button(link: edit_user_path(@user), icon: "fad fa-pencil", title: "Edit user"),
    layout_button(link: user_impersonation_path(@user), method: :put, icon: "fad fa-mask", title: "Masquerade as user", admin: true)
  ]
} do %>
  <%= card do %>
    <%= card_body do %>
      <h3 class="w-full text-center">Coming Soon</h3>
    <% end %>
  <% end %>
<% end %>
