<div class="container p-5 bg-white border border-top-0">
  <h3 class="mt-0 mb-5 text-primary">Sponsor Creative Settings</h3>
  <div class="row">
    <div class="col-6 col-md-6 mb-3">
      <div class="js-form-message js-focus-state select required creative_icon_image u-has-success">
        <label class="form-label select required" for="creative_icon_image">
          Sponsor Image <abbr title="required">*</abbr> <small class="text-muted">(400×40 svg)</small>
        </label>
        <select class="form-control select required"
                data-target="creative-form.inputSponsorBlobId"
                data-action="change->creative-form#setSponsorImage"
                required="required"
                aria-required="true"
                name="creative[sponsor_blob_id]"
                id="creative_sponsor_blob_id"
                required>
                <option value="">--- select an image ---<option>
                <% current_user.sponsor_images.each do |image| %>
                  <%= tag.option Image.new(image).display_name, value: image.blob_id,
                    data: { image_url: polymorphic_url(image) },
                    selected: creative.sponsor_image == image %>
                <% end %>
        </select>
      </div>
    </div>
    <div class="col-6 col-md-6 mb-3">
      <label class="form-label select text-muted" for="preview-sponsor-image">
        Preview
      </label>
      <%= image_tag asset_path("sponsor-placeholder.svg"),
        data: { target: "creative-form.previewSponsorImage", default_image_url: asset_path("sponsor-placeholder.svg") } %>
    </div>
  </div>
</div>
