<div class="table-responsive">
  <table class="table table-borderless u-datatable u-datatable__striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col">Name</th>
        <th scope="col">Advertiser</th>
        <th scope="col">Headline</th>
        <th scope="col">Campaigns</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/creatives/tr", collection: @creatives, as: :creative %>
    </tbody>
    <tfoot>
      <tr class="border-top">
        <td colspan="10" class="pt-3">
          <%== pagy_nav_bootstrap(@pagy) %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>