<%= render CardComponent.new do %>
  <%= render Card::BodyComponent.new do %>
    <div class="d-flex align-items-middle">
      <div class="mr-4">
        <%= render(AvatarComponent.new(user: user, size: "lg")) %>
      </div>
      <div class="custom-file mt-2">
        <%= f.file_field :avatar, class: "custom-file-input" %>
        <label class="custom-file-label" for="fileAttachmentBtn">
          Upload New Avatar
        </label>
      </div>
    </div>
  <% end %>
<% end %>
