<%= render layout: "/users/show_layout", locals: { user: @versionable } do %>
  <h3 class="h5 mb-3">
    User Revisions
    <small class="text-muted d-block">List of revisions to this user</small>
  </h3>
  <%= render "/versions/table", versionable: @versionable, versions: @versions %>
<% end %>
