<%= link_to image_path(imageable.to_gid_param, image),
            method: :delete,
            class: "btn btn-xs btn-subtle-secondary",
            data: {confirm: I18n.t("images.destroy.confirm")} do %>
  <span class="fas fa-trash"></span>
<% end %>
