<main id="content" role="main" class="border-bottom">
  <!-- Blog Classic Section -->
  <div class="container space-2 space-top-md-5 space-top-lg-4">

    <div class="w-md-80 w-lg-60 mb-9">
      <h1 class="font-weight-normal">Blog</h1>
    </div>

    <% @posts.each_slice(3) do |posts| %>
      <div class="card-deck d-block d-md-flex card-md-gutters-2">
        <% posts.each do |post| %>
          <%= render partial: '/buttercms/posts/post', locals: { post: post } %>
        <% end %>
      </div>
    <% end %>

    <div class="space-bottom-2"></div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination mb-0">
        <% if @previous_page %>
          <li class="page-item ml-0">
            <%= link_to buttercms_blog_path(page: @previous_page), aria: { label: "Previous" } do %>
              <span aria-hidden="true">&laquo; Previous</span>
              <span class="sr-only">Previous</span>
            <% end %>
          </li>
        <% end %>
        <% if @next_page %>
          <li class="page-item ml-0">
            <%= link_to buttercms_blog_path(page: @next_page), aria: { label: "Next" } do %>
              <span aria-hidden="true">Next &raquo;</span>
              <span class="sr-only">Next</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- End Pagination -->
  </div>
</main>