#cf {
  margin: 0 auto;
  max-width: 330px;
}

#cf .cf-wrapper {
  display: flex;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  font-family: AkzidenzGrotesk-Regular, 'Helvetica Neue', Helvetica;
}

#cf .cf-img-wrapper {
  flex: 0 0 60px;
}

#cf .cf-img-wrapper img {
  border-radius: 5px;
  position: relative;
}

#cf a {
  text-decoration: none;
}

#cf .cf-text {
  font-weight: 350;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

#cf .cf-text strong {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  letter-spacing: -0.1px;
  margin-bottom: 2px;
}

#cf .cf-link {
  font-size: 12px;
  text-decoration: underline;
  color: #5bdeff;
  font-weight: 400;
}

#cf .cf-powered-by {
  display: block;
  font-size: 10px;
  font-weight: 350;
  color: #aaa;
  margin-top: 5px;
}
