<% cache job_posting do %>
  <li class="list-group-item d-flex justify-content-between align-items-center py-3 px-2">
    <span>
      <%= link_to tag.u(sanitize(job_posting.title, scrubber: Loofah::Scrubbers::Prune.new)), job_posting, class: "lead text-primary", style: "font-weight: bold;" %>
      <div class="mb-2"><%= job_posting.company_name %></div>
      <span>
        <% job_posting.keywords.each do |keyword| %>
          <%= link_to keyword, nil, class: "btn btn-xs btn-soft-primary mb-1 job-listing-keyword",
            data: { controller: "job-listing-keyword", action: "click->job-listing-keyword#appendToSearch", target: "job_posting_search_full_text_search" } %>
        <% end %>
      </span>
    </span>
    <div class="d-none d-sm-block" style="width: 100px; text-align: right;"><%= job_posting.start_date.to_s "bd" %></div>
  </li>
<% end %>
