<main id="content" role="main" class="gradient-half-primary-v2">
  <div class="container space-top-md-4 space-1">
    <div class="card">
      <div class="card-header p-5">
        <nav id="progressStepForm" class="js-step-progress nav nav-icon nav-justified text-center">
          <a href="javascript:;" class="nav-item active">
            <span class="nav-icon-action">
              <span class="fas fa-user-circle nav-icon-action-inner"></span>
            </span>
            1. Create
          </a>
          <a href="javascript:;" class="nav-item">
            <span class="nav-icon-action">
              <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
            </span>
            2. Preview
          </a>
          <a href="javascript:;" class="nav-item">
            <span class="nav-icon-action">
              <span class="fas fa-paperclip nav-icon-action-inner"></span>
            </span>
            3. Purchase 
          </a>
        </nav>
      </div>
      <%= yield %>
    </div>
  </div>
</main>