<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7">
        <% if @job_posting.pending? %>
          <nav class="nav nav-icon nav-justified text-center">
            <%= link_to edit_job_posting_path(@job_posting), class: "nav-item active text-dark" do %>
              <span class="nav-icon-action bg-success">
                <span class="fas fa-check-square nav-icon-action-inner"></span>
              </span>
              Modify Ad
            <% end %>
            <%= link_to job_posting_path(@job_posting), class: "nav-item" do %>
              <span class="nav-icon-action transition-3d-hover">
                <span class="fas fa-thumbs-up nav-icon-action-inner"></span>
              </span>
              Preview
            <% end %>
            <%= link_to new_purchase_job_posting_path(@job_posting), class: "nav-item" do %>
              <span class="nav-icon-action transition-3d-hover">
                <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
              </span>
              Purchase
            <% end %>
          </nav>
        <% end %>

        <%= render partial: "/job_postings/form", locals: { job_posting: @job_posting } %>
      </div>
    </div>
  </div>
</main>