<main id="content" role="main" class="bg-light">
  <div class="container space-top-3 space-bottom-2">
    <div class="w-lg-80 mx-lg-auto">
      <div class="card shadow-sm p-7">
        <nav class="nav nav-icon nav-justified text-center space-bottom-2">
          <%= link_to "javascript:;", class: "nav-item active text-dark" do %>
            <span class="nav-icon-action bg-success">
              <span class="fas fa-check-square nav-icon-action-inner"></span>
            </span>
            Create Ad
          <% end %>
          <span class="nav-item">
            <span class="nav-icon-action">
              <span class="fas fa-thumbs-up nav-icon-action-inner"></span>
            </span>
            Preview
          </span>
          <span class="nav-item">
            <span class="nav-icon-action">
              <span class="fas fa-file-invoice-dollar nav-icon-action-inner"></span>
            </span>
            Purchase
          </span>
        </nav>

        <%= render partial: "/job_postings/form", locals: { job_posting: @job_posting } %>
      </div>
    </div>
  </div>
</main>