#cf {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 70px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 1.5;
}

#cf a {
  text-decoration: none;
}

#cf .cf-img-wrapper {
  margin-right: 10px;
  flex: 0 0 60px;
}

#cf .cf-img-wrapper img {
  width: 55px;
  height: 55px;
}

#cf .cf-text {
  color: rgba(255, 255, 255, 0.7);
}

#cf .cf-text strong {
  color: #ffffff;
}

#cf button[data-behavior='close'] {
  color: #ffffff;
  background-color: transparent;
  padding: 2px 6px 4px 6px;
  font-size: 1rem;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}
