<div id="cf" data-template="docsify" data-theme="{{theme}}">
  <div class="cf-wrapper">
    <div class="clearfix">
      <a href="{{urls.campaign}}" class="cf-sponsored-by" target="_blank" rel="sponsored noopener">
        <span class="cf-img-wrapper">
          <img src="{{creative.imageUrls.small}}" alt="{{creative.name}}" height="65" width="65" class="cf-img">
        </span>
        <span class="cf-text">
          <strong>{{creative.headline}}</strong>
          <span>{{creative.body}}</span>
        </span>
      </a>
    </div>
    <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener">
      <em>ethical</em> ad by CodeFund
      <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
    </a>
  </div>
</div>
