div#cf[data-template='docsify'] {
  &[data-theme='dark'] {
    margin: 0 auto;
    max-width: 330px;

    div.cf-wrapper {
      display: block;
      padding: 15px;
      overflow: hidden;
      font-size: 14px;
      line-height: 1.4;
      text-align: left;
      font-family: Helvetica, Arial, sans-serif;

      a {
        box-shadow: none !important;
        text-decoration: none;
      }

      div.clearfix {
        overflow: auto;

        &:after {
          content: '';
          clear: both;
          display: table;
        }

        span.cf-img-wrapper {
          float: left;
          margin-right: 15px;

          img.cf-img {
            vertical-align: middle;
            border-style: none;
            max-width: 65px;
            position: relative;
          }
        }

        span.cf-text {
          color: rgba(255, 255, 255, 0.7);

          strong {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      a.cf-powered-by {
        margin-top: 8px;
        background-color: rgba(255, 255, 255, 0.05);
        text-align: center;
        display: block;
        font-size: 9px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2.2;
        padding: 10px auto;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &[data-theme='light'] {
    margin: 0 auto;
    max-width: 330px;

    div.cf-wrapper {
      display: block;
      padding: 15px;
      overflow: hidden;
      font-size: 14px;
      line-height: 1.4;
      text-align: left;
      font-family: Helvetica, Arial, sans-serif;

      a {
        box-shadow: none !important;
        text-decoration: none;
      }

      div.clearfix {
        overflow: auto;

        &:after {
          content: '';
          clear: both;
          display: table;
        }

        span.cf-img-wrapper {
          float: left;
          margin-right: 15px;

          img.cf-img {
            vertical-align: middle;
            border-style: none;
            max-width: 65px;
            position: relative;
          }
        }

        span.cf-text {
          color: #333;
        }
      }

      a.cf-powered-by {
        margin-top: 8px;
        background-color: hsla(0, 0%, 0%, 0.05);
        text-align: center;
        display: block;
        font-size: 9px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 2.2;
        padding: 10px auto;
        text-transform: uppercase;
        color: hsla(0, 0%, 0%, 0.8);
      }
    }
  }
}
