<div class="card">
  <div class="card-body p-4">
    <div class="text-center">
      <div class="mx-auto mb-3">
        <%= image_tag campaign.creative.large_images.first, class: "img-fluid" %>
      </div>

      <!-- Title -->
      <div class="mb-2 px-3">
        <p class="media-body h6 text-black-50 font-weight-normal">
          <strong class="text-dark"><%= campaign.creative.headline %></strong>
          <%= campaign.creative.body %>
        </p>
      </div>
      <!-- End Title -->
    </div>
  </div>
</div>
