<% if @campaign.paid_fallback? %>
  <div class="bg-success rounded text-center">
    <h6 class="text-white p-2">Paid Fallback</h6>
  </div>
<% end %>
<% if @campaign.fallback? %>
  <div class="bg-primary rounded text-center">
    <h6 class="text-white p-2">Fallback</h6>
  </div>
<% end %>
<%= render "/campaigns/details/overview" %>
<% unless @campaign.paid_fallback? || @campaign.fallback? %>
  <%= render "/campaigns/details/budget" %>
  <%= render "campaigns/details/ecpm" %>
<% end %>
