<div class="page-inner">
  <%= render "/shared/page_heading_with_subtitle",
      title: local_assigns[:title] || campaign.name,
      subtitle: local_assigns[:subtitle],
      buttons: local_assigns[:buttons] || [],
      datepicker: local_assigns[:datepicker] || false %>
  <div class="page-section">
    <%= yield %>
  </div>
</div>
