<div class="table-responsive">
  <table class="table table-borderless u-datatable u-datatable__striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col" style="width: 30px;">&nbsp;</th>
        <th scope="col">Name</th>
        <th scope="col">Advertiser</th>
        <th scope="col">Expires</th>
        <th scope="col">Spend</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/campaigns/tr", collection: @campaigns, as: :campaign %>
    </tbody>
    <tfoot>
      <tr class="border-top">
        <td colspan="6" class="pt-3">
          <%== pagy_nav_bootstrap(@pagy) %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>