<tr>
  <td><%= campaign.name %></td>
  <td>US Hours</td>
  <td>Name</td>
  <td>Creative</td>
  <td>Dates</td>
  <td>Budget</td>
  <td>Spend</td>
  <td>Impressions</td>
  <td><%= link_to "Edit", edit_campaign_path(campaign), class: "btn btn-link btn-sm" %></td>
</tr>
