<div class="container mt-3">
  <%= page_heading "Editing", "Campaign", subtitle: @campaign.scoped_name %>
  <%= render "/campaigns/form", campaign: @campaign %>
  <%= link_to "View", @campaign, class: "btn btn-link" %>
  <%= link_to "Back", campaigns_path, class: "btn btn-link" %>
</div>
