<div class="container mt-3">
  <p id="notice"><%= notice %></p>
  <h1>Campaigns</h1>
  <%= render "/campaigns/table", campaigns: @campaigns %>
  <%= link_to 'New Campaign', new_campaign_path %>
</div>
