<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th>Name</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Impressions</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Clicks</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">average</span>CTR</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">estimated</span>Earnings</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <%= render_later async_property_campaign_row_path(property_id: @property.id, campaign_id: campaign.id), tag_name: "tr" do %>
          <td colspan="5">
            <i class="fa fa-spinner fa-spin text-primary"></i>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_nav_bootstrap(@pagy) if @pagy.pages > 1 %></span>
    <%= pagy_entries(@pagy) %>
  </div>
</div>
