<div class="text-center my-3">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Have an account already? Sign in.", new_session_path(resource_name), class: "link d-block py-1" %>
  <% end -%>
  <%- if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" && controller_name != "invitations" %>
    <%= link_to "Forgot password?", new_password_path(resource_name), class: "link d-block py-1" %>
  <% end -%>
  <%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "link d-block py-1" %>
  <% end -%>
</div>
