<%= link_to user_impersonation_path(user), method: :put, class: "btn btn-sm btn-soft-white transition-3d-hover btn-hover-expand" do %>
  <span data-hover="Masquerade"><i class="fas fa-mask"></i></span>
<% end %>
