<%= form_for :campaign_report, url: campaign_reports_path, method: :post, remote: true,
  data: {
    controller: "campaign-reports-email-form",
    action: "ajax:success->campaign-reports-email-form#success ajax:error->campaign-reports-email-form#error",
    success: "Campaign reports were successfully emailed.",
    error: campaign_reports_email_error_message(campaign),
    confirm: "Are you sure you want to email the reports?",
} do |f| %>
  <div class="input-group">
    <%= f.email_field :email, value: campaign.user.email, placeholder: "Enter an email address...", class: "form-control", style: "min-width:300px;" %>
    <%= f.submit "Email Reports", class: "btn btn-primary" %>
  </div>
<% end %>
