<%= form_tag job_posting_purchase_path(job_posting), method: :put do %>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Enter your coupon code:
        </h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control form-control-lg" name="coupon_code" placeholder="Enter Coupon Code..." autofocus />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">Apply Coupon</button>
        <button data-dismiss="modal" type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover">Close</button>
      </div>
    </div>
  </div>
<% end %>