<!DOCTYPE html>
<html lang="en">
  <body>
    <div id="codefund"><!-- fallback content --></div>
    <script src="<%= request.protocol + request.host_with_port %>/properties/<%= params[:property_id] %>/funder.js?test_country_code=<%= params[:test_country_code] %>" async></script>
  </body>
</html>
