html.hs-messages-widget-open.hs-messages-mobile {
  height: 100% !important;
  overflow: hidden !important;
  position: relative !important;
  body {
    height: 100% !important;
    overflow: hidden !important;
    position: relative !important;
    margin: 0 !important;
  }
}

#hubspot-messages-iframe-container {
  display: initial !important;
  z-index: 2147483647;
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  &.internal {
    z-index: 1016;
    iframe {
      min-width: 108px;
    }
  }
  .shadow {
    display: initial !important;
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    content: "";
    &.internal {
      display: none !important;
    }
    &.active {
      width: 400px;
      height: 400px;
      background: radial-gradient(ellipse at bottom right, rgba(29, 39, 54, 0.16) 0, rgba(29, 39, 54, 0) 72%);
    }
  }
  iframe {
    display: initial !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    background: transparent !important;
  }
}