<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="border-bottom">
        <th scope="col">Title</th>
        <th scope="col">Subject</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="font-size-1">
      <%= render partial: "/email_templates/tr", collection: email_templates, as: :email_template %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between align-items-center">
    <span><%== pagy_nav_bootstrap(pagy) if pagy.pages > 1 %></span>
    <%= pagy_entries(pagy) %>
  </div>
</div>
