<% cache_if @campaign.persisted? && @creative.persisted?, [@campaign, @creative] do %>
  <div id="cf">
    <span class="cf-wrapper">
      <a data-href="campaign_url" class="cf-text" target="_blank" rel="sponsored noopener">
        <strong><%= @creative.headline %></strong>
        <span><%= @creative.body %></span>
      </a>
      <a href="https://codefund.io" data-target="powered_by_url" class="cf-powered-by" target="_blank" rel="sponsored noopener">
        <em>ethical</em> ad by CodeFund
        <img data-src="impression_url" alt="">
      </a>
    </span>
  </div>
<% end %>
