#cf, #cf * {
  text-decoration: none !important;
  box-shadow: none !important;
}

#cf,
#cf b,
#cf a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
}

#cf {
  color: #77838f;
}

#cf a {
  color: #3498db;
}

#cf .cf-hidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
  border-style: none;
}
