<ins id="cf" data-template="sponsored-text" data-theme="{{theme}}">
  <span class="cf-wrapper">
    Sponsored:&nbsp;
    <img src="{{creative.imageUrls.icon}}" alt="{{creative.name}}" border="0" height="20" width="20" class="cf-img" style="width: 20px; height: 20px;">
    <b>{{creative.headline}}</b>
    {{creative.body}}
    <a href="{{urls.campaign}}" class="cf-cta" target="_blank" rel="sponsored noopener">
      <b>{{creative.cta}}</b>
    </a>
  </span>
  <sup>
    <a href="{{urls.poweredBy}}" class="cf-powered-by" target="_blank" rel="sponsored noopener" title="Ethical ads by CodeFund">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="#aaa" d="M5 .645a4.355 4.355 0 11-.001 8.71A4.355 4.355 0 015 .646zM5 0a5 5 0 10.002 10.002A5 5 0 005 0zm-.726 6.935h.242V4.516h-.242a.242.242 0 01-.242-.242v-.161c0-.134.109-.242.242-.242h.968c.134 0 .242.108.242.242v2.822h.242c.133 0 .242.109.242.242v.162a.242.242 0 01-.242.242H4.274a.242.242 0 01-.242-.242v-.162c0-.133.109-.242.242-.242zM5 2.097a.645.645 0 100 1.29.645.645 0 000-1.29z"/></svg>
      <span class="tooltiptext"><em>ethical</em> ad by CodeFund</span>
    </a>
  </sup>
  <img src="{{urls.instantImpression}}" data-src="{{urls.impression}}" data-behavior="trackImpression" class="cf-impression" alt="">
</ins>
