<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th>Date</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Impressions</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">total</span>Clicks</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">average</span>CTR</th>
        <th class="text-center" style="width: 15%;"><span class="d-block small text-muted">estimated</span>Earnings</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/property_earnings/tr", collection: (@start_date..@end_date).to_a, as: :date %>
    </tbody>
  </table>
</div>
