<div class="table-responsive">
  <table class="js-datatable table table-striped table-compact table-borderless u-datatable u-datatable__striped u-datatable__trigger">
    <thead>
      <tr class="border-bottom">
        <th style="width: 20%;">Date</th>
        <th class="text-center" style="width: 20%;">Impressions</th>
        <th class="text-center" style="width: 20%;">Clicks</th>
        <th class="text-center" style="width: 20%;"><span class="d-block small text-muted">average</span>CTR</th>
        <th class="text-center" style="width: 20%;">Earnings</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
