<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <div class="d-flex mb-3">
    <h3 class="h5 mb-3 flex-grow-1">
      Estimated Earnings
      <small class="text-muted d-block">Estimated earnings by day for this property</small>
    </h3>
    <%= render "/@shared/date_range_picker" %>
  </div>
  <%= render "/property_earnings/table", property: @property %>
<% end %>
