<%= render layout: "/properties/show_layout", locals: { property: @property } do %>
  <h3 class="h5 mb-3">
    Estimated Earnings
    <small class="text-muted d-block">Estimated earnings by day for this property</small>
  </h3>
  <%= render "/property_earnings/table", property: @property %>
<% end %>
