<div class="page">
  <div class="page-inner" data-controller="auto-height">
    <%= render BackLinkComponent.new(title: "Emails", link: user_emails_path(@user)) %>
    <%= render EmailComponent.new(email: @email) %>
  </div>
</div>
