<div class="js-hr-progress progress" style="height: 10px; background-color: #e7e7e8;">
  <div class="js-hr-progress-bar progress-bar bg-success" role="progressbar" style="width: <%= @campaign.total_consumed_budget_percentage %>%;"></div>
</div>
