.bg-pattern-1 {
  background-size: initial;
  background-repeat: repeat;
  background-image: url(../../../images/patterns/pattern1.svg) !important;
}

.bg-pattern-4 {
  background-position: bottom center;
  background-size: 100% 250px;
  background-repeat: no-repeat;
  background-image: url(../../../images/patterns/wave-4-bottom.svg) !important;
}