<div class="table-responsive">
  <table class="table table-borderless u-datatable u-datatable__striped mt-5">
    <thead>
      <tr class="border-bottom">
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Size</th>
        <th scope="col">Preview</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "/images/tr", collection: @imageable.images, as: :image %>
    </tbody>
    <tfoot>
      <tr class="border-top">
        <td colspan="4" class="pt-3">
          <%== pagy_nav_bootstrap(@pagy) if @pagy.pages > 1 %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
