<li class="menu-header">Admin</li>
<%= icon_active_link(link: administrator_dashboards_path, icon: "fas fa-industry", text: "Dashboard", active: :exact) %>
<%= icon_active_link(link: organizations_path, icon: "fas fa-building", text: "Organizations") %>
<%= icon_active_link(link: users_path, icon: "fas fa-user", text: "Users", active: /^\/user(?:(?!(invitation\/new)).)*$/) %>
<%= icon_active_link(link: new_user_invitation_path, icon: "fas fa-user-plus", text: "Invite User", active: :exact) %>
