<li class="menu-header">Publisher</li>
<%= icon_active_link(link: default_dashboard_path(current_user), icon: "fas fa-industry", text: "Dashboard", active: :exact) %>
<%= icon_active_link(link: properties_path, icon: "fas fa-browser", text: "Properties") %>
