<div class="card-deck d-block d-lg-flex card-lg-gutters-3 mb-3">
  <%= render "/shared/widgets/stat_card",
    label: "Impressions",
    value: number_with_delimiter(@property.impressions_count(@start_date, @end_date)) %>
  <%= render "/shared/widgets/stat_card",
    label: "Clicks",
    value: number_with_delimiter(@property.clicks_count(@start_date, @end_date)) %>
  <%= render "/shared/widgets/stat_card",
    label: "CTR%",
    value: number_to_percentage(@property.click_rate(@start_date, @end_date), precision: 2) %>
  <%= render "/shared/widgets/stat_card",
    label: "Estimated Earnings",
    value: @property.property_revenue(@start_date, @end_date).format %>
</div>
