<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      html, body { margin: 0; padding: 0 }
      <%= "body { background-color: #1d1d1d; }" if params[:theme] == "dark" %>
    </style>
  </html>
  <body>
    <div id="codefund"></div>
    <%= javascript_include_tag advertisement_preview_path(params[:campaign_id], template: params[:template], theme: params[:theme], format: :js) %>
  </body>
</html>
