<html lang="en">
  <head>
    <style>
      * { font-family: system-ui; }
      li { margin-bottom: 5px; }
    </style>
  </head>
  <body>
    <h1>Preview ads for all active campaigns</h1>
    <ul>
      <% @campaigns.each_with_index do |campaign, index| %>
        <li><%= index + 1 %>. <%= link_to "#{campaign.id}: Preview ads for #{campaign.organization.name} #{campaign.name}", advertisement_preview_path(campaign) %></li>
      <% end %>
    </ul>
  </body>
